:root {
  --bg-color: #ebe1ef;
  --main-color: #8a5bd6;
  --caret-color: #212b43;
  --sub-color: #ac76e5;
  --text-color: #212b43;
  --error-color: #f794ca;
  --error-extra-color: #f279c2;
  --colorful-error-color: #f794ca;
  --colorful-error-extra-color: #f279c2;
}

#menu .icon-button {
  color: #ba96db;
}

#menu .icon-button:hover {
  color: #212b43;
}
