:root {
  --bg-color: #464d66;
  --main-color: #e0513e;
  --caret-color: #475782;
  --sub-color: #5c7eb9;
  --text-color: #cfcfcf;
  --error-color: #e44e4e;
  --error-extra-color: #fd3f3f;
  --colorful-error-color: #ff2e2e;
  --colorful-error-extra-color: #bb2525;
}

#menu .icon-button:nth-child(1) {
  color: #e0513e;
}

#menu .icon-button:nth-child(3) {
  color: #cfcfcf;
}

#menu .icon-button:nth-child(2) {
  color: #ccc500;
}
