:root {
  --bg-color: #fcf838;
  --main-color: #544a41;
  --caret-color: #89cce7;
  --sub-color: #89cce7;
  --sub-alt-color: #000000;
  --text-color: #544a41;
  --error-color: #f2cc0f;
  --error-extra-color: #f2cc0f;
  --colorful-error-color: #007aff;
  --colorful-error-extra-color: #ff1111;
}
