:root {
  --bg-color: #edea53;
  --main-color: #4a4139;
  --caret-color: #51a2c2;
  --sub-color: #51a2c2;
  --sub-alt-color: #000000;
  --text-color: #4a4139;
  --error-color: #d6b306;
  --error-extra-color: #d6b306;
  --colorful-error-color: #007aff;
  --colorful-error-extra-color: #ff1111;
}
