kbd {
  color: var(--sub-color);
  background-color: var(--main-color);
}

nav > .textButton {
  color: var(--main-color);
}

nav > .textButton:nth-child(1) {
  color: var(--error-color);
}

nav > .textButton:nth-child(4) {
  color: var(--caret-color);
}
