:root {
    --bg-color: #001900;
    --main-color: #89ff00;
    --caret-color: #e2b714;
    --sub-color: #c8d48a;
    --sub-alt-color: #075800;
    --text-color: #fdff00;
    --error-color: #adad00;
    --error-extra-color: #c3a304;
    --colorful-error-color: #707000;
    --colorful-error-extra-color: #928426;
  }
