:root { --bg-color:#424843; 
       --main-color:#3ba7a1; 
       --caret-color:#678482; 
       --sub-color:#728551; 
       --sub-alt-color:#243032; 
       --text-color:#37d376; 
       --error-color:#a2a362; 
       --error-extra-color:#8a7b48; 
       --colorful-error-color:#7d663f; 
       --colorful-error-extra-color:#332425;
}
,{
    "name": "algae",
    "bgColor": "#424843",
    "mainColor": "#3ba7a1"
}
