:root {
    --bg-color: #00002c;
    --main-color: #ff7575;
    --caret-color: #ffffff;
    --sub-color: #ff3d8b;
    --sub-alt-color: #4a0d44;
    --text-color: #f5a3ea;
    --error-color: #eb0000;
    --error-extra-color: #c80000;
    --colorful-error-color: #eb0000;
    --colorful-error-extra-color: #c80000;
  }
