:root {
    --bg-color: #c69c72;
    --main-color: #ffadad;
    --caret-color: #ffadad;
    --sub-color: #ffadad;
    --sub-alt-color: #561026;
    --text-color: #b6244f;
    --error-color: #65472a;
    --error-extra-color: #65472a;
    --colorful-error-color: #ffec99;
    --colorful-error-extra-color: #ffec99;
  }
