:root {
  --bg-color: #ffeead;
  --main-color: #96ceb4;
  --caret-color: #ffcc5c;
  --sub-color: #ffcc5c;
  --text-color: #5b7869;
  --error-color: #ff6f69;
  --error-extra-color: #ff6f69;
  --colorful-error-color: #ff6f69;
  --colorful-error-extra-color: #ff6f69;
}

#menu .icon-button:nth-child(1),
#menu .icon-button:nth-child(2),
#menu .icon-button:nth-child(3),
#menu .icon-button:nth-child(4),
#menu .icon-button:nth-child(5),
#menu .icon-button:nth-child(6) {
  color: #ff6f69;
}
