:root {
  --bg-color: #2d394d;
  --main-color: #ff7a90;
  --caret-color: #ff7a90;
  --sub-color: #4a768d;
  --text-color: #fffaf8;
  --error-color: #ee2a3a;
  --error-extra-color: #f04040;
  --colorful-error-color: #fc2032;
  --colorful-error-extra-color: #f04040;
}
