:root {
    --bg-color: #12283f;
  --main-color: #87c0af;
  --caret-color: #adfff5;
  --sub-color: #56799f;
  --sub-alt-color: #0b485b;
  --text-color: #b9c1e4;
  --error-color: #b29a91;
  --error-extra-color: #ff5757;
  --colorful-error-color: #ff5757;
  --colorful-error-extra-color: #ff5757;
}








