:root {
  --bg-color: #ceb18d;
  --main-color: #14120f;
  --caret-color: #14120f;
  --sub-color: #d4d2d1;
  --sub-alt-color: #bba180;
  --text-color: #14120f;
  --error-color: #c82931;
  --error-extra-color: #ac1823;
  --colorful-error-color: #c82931;
  --colorful-error-extra-color: #ac1823;
}
