:root {
    --bg-color: #8e85de;
    --main-color: #bc9ff5;
    --caret-color: #502273;
    --sub-color: #8580a1;
    --sub-alt-color: #745f8c;
    --text-color: #4b4678;
    --error-color: #ffa3ff;
    --error-extra-color: #ff00ff;
    --colorful-error-color: #5c00ff;
    --colorful-error-extra-color: ##5c7cff;
  }
