:root {
  --bg-color: #303446;
  --caret-color: #babbf1;
  --main-color: #8caaee;
  --sub-color: #51576d;
  --sub-alt-color: #414559;
  --text-color: #c6d0f5;
  --error-color: #e78284;
  --error-extra-color: #ea999c;
  --colorful-error-color: #ef9f76;
  --colorful-error-extra-color: #e5c890;
}
  