:root {
  --bg-color: #24273a;
  --caret-color: #f4dbd6;
  --main-color: #cad3f5;
  --sub-color: #5b6078;
  --sub-alt-color: #1e2030;
  --text-color: #cad3f5;
  --error-color: #ed8796;
  --error-extra-color: #f0c6c6;
  --colorful-error-color: #ed8796;
  --colorful-error-extra-color: #f0c6c6;
}

nav .view-start {
  color: #ed8796;
}

nav .view-leaderboards {
  color: #f5a97f;
}

nav .view-about {
  color: #eed49f;
}

nav .view-settings {
  color: #a6da95;
}

nav .view-account {
  color: #8bd5ca;
}

nav .showAlerts {
  color: #8aadf4;
}

nav .signInOut {
  color: #c6a0f6;
}
