:root {
  --bg-color: #1e1e2e;
  --caret-color: #fae3b0;
  --main-color: #abe9b3;
  --sub-color: #575268;
  --text-color: #d9e0ee;
  --error-color: #f28fad;
  --error-extra-color: #e8a2af;
  --colorful-error-color: #f28fad;
  --colorful-error-extra-color: #e8a2af;
}
