:root {
  --bg-color: #f9efe5;
  --main-color: #c97135;
  --caret-color: #5a2a00;
  --sub-color: #ab6526;
  --sub-alt-color: #f4e3d0;
  --text-color: #3a1f00;
  --error-color: #e51400;
  --error-extra-color: #e9a700;
  --colorful-error-color: #e51400;
  --colorful-error-extra-color: #f28500;
}
