:root {
  --bg-color: #f9efe5;
  --main-color: #c97135;
  --caret-color: #5a2a00;
  --sub-color: #ab6526;
  --sub-alt-color: #f4e3d0;
  --text-color: #3a1f00;
  --error-color: #cc0000;
  --error-extra-color: #b58900;
  --colorful-error-color: #cc0000;
  --colorful-error-extra-color: #d97a00;
}
