:root {
  --bg-color: #fdf0d5;
  --main-color: #8e2949;
  --caret-color: #892948;
  --sub-color: #d91c81;
  --sub-alt-color: #f3e2bf;
  --text-color: #3a3335;
  --error-color: #5cf074;
  --error-extra-color: #5cf074;
  --colorful-error-color: #5cf074;
  --colorful-error-extra-color: #5cf074;
}
@keyframes rgb {
  0% {
    fill: #ff0090;
  }
  10% {
    fill: #c11384;
  }
  20% {
    fill: #832678;
  }
  30% {
    fill: #44396c;
  }
  40% {
    fill: #064c60;
  }
  50% {
    fill: #064c60;
  }
  65% {
    fill: #44396c;
  }
  75% {
    fill: #832678;
  }
  85% {
    fill: #c11384;
  }
  100% {
    fill: #ff0090;
  }
}

header > div#logo > div.icon > svg path {
  animation: 10s linear infinite 0.1s rgb;
}
