:root {
    --bg-color: #3D3B40;
    --main-color: #525CEB;
    --caret-color: #525CEB;
    --sub-color: #646367;
    --sub-alt-color: #ffffff;
    --text-color: #BFCFE7;
    --error-color: #d45050;  
  }
  