:root {
  --bg-color: #ff9869;
  --main-color: #fcfcf8;
  --caret-color: #fcfcf8;
  --sub-color: #ff661f;
  --sub-alt-color: #fe8954;
  --text-color: #fcfcf8;
  --error-color: #6a0dad;
  --error-extra-color: #6a0dad;
  --colorful-error-color: #6a0dad;
  --colorful-error-extra-color: #6a0dad;
}
