:root {
    --bg-color: #6e2626;
    --main-color: #e55050;
    --caret-color: #541d1d;
    --sub-color: #ff6060;
    --sub-alt-color: #3f1616;
    --text-color: #ffaaaa;
    --error-color: #c42121;
    --error-extra-color: #a71111;
    --colorful-error-color: #c42121;
    --colorful-error-extra-color: #a71111;
  }
