:root {
  --bg-color: #fec8cd;
  --main-color: #ffffff;
  --caret-color: #ffffff;
  --sub-color: #a30000;
  --sub-alt-color: #f2babd;
  --text-color: #ffffff;
  --error-color: #2e7dde;
  --error-extra-color: #2e7dde;
  --colorful-error-color: #2e7dde;
  --colorful-error-extra-color: #2e7dde;
  --font: Roboto Mono;
}
