:root {
  --bg-color: #058b8c;
  --main-color: #b63530;
  --caret-color: #b63530;
  --sub-color: #255458;
  --sub-alt-color: #0e7d7e;
  --text-color: #f7f2ea;
  --error-color: #b63530;
  --error-extra-color: #530e0e;
  --colorful-error-color: #ddca1f;
  --colorful-error-extra-color: #8f8610;
}
