/* theme by @bann6r */
:root {
    --bg-color: #0e0d21;
    --main-color: #c8acd6;
    --caret-color: #c8acd6;
    --sub-color: #51497e;
    --sub-alt-color: #1f1a3d;
    --text-color: #ffffff;
    --error-color: #9290c3;
    --error-extra-color: #9290c3;
    --colorful-error-color: #837eff;
    --colorful-error-extra-color: #837eff;
  }
