:root {
  --bg-color: #dadbdc;
  --main-color: #ae185e;
  --caret-color: #384693;
  --sub-color: #3846b1;
  --sub-alt-color: #bec1d2;
  --text-color: #414141;
  --error-color: #ae185e;
  --error-extra-color: #93335c;
  --colorful-error-color: #80a053;
  --colorful-error-extra-color: #306230;
}

#menu {
  gap: 0.5rem;
}

header.focus #menu .textButton {
  background: var(--bg-color);
  size: 1rem;
}
header.focus #menu .textButton:nth-child(1) {
  background: #e34c6c;
}
header.focus #menu:before,
header.focus #menu:after {
  background: var(--sub-color);
}

#menu .textButton {
  border-radius: 10rem !important;
  color: var(--bg-color);
  background: var(--main-color);
}

body.crtmode {
  #menu .textButton {
    box-shadow: 3px 0 1px var(--crt-main-color-glow),
      -3px 0 var(--crt-main-color-glow), 0 0 3px;
  }

  header.focus #menu .textButton {
    box-shadow: none;
    &:nth-child(1) {
      box-shadow: 3px 0 1px color-mix(in srgb, #e34c6c 20%, transparent),
        -3px 0 color-mix(in srgb, #e34c6c 30%, transparent), 0 0 3px;
    }
  }
}
