:root {
  --bg-color: #121520;
  --caret-color: #fff;
  --main-color: #fff;
  --sub-color: #676e8a;
  --sub-alt-color: #1b1e2c;
  --text-color: #fff;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}

#menu {
  gap: 0.5rem;
}

#top.focus #menu .textButton,
#top.focus #menu:before,
#top.focus #menu:after {
  background: var(--sub-color);
}

#menu .textButton {
  border-radius: 10rem !important;
  color: #121520;
}

/* #menu:before{
    content: "";
    background: #f94348;
    width: 1.25rem;
    height: 1.25rem;
    padding: .5rem;
    border-radius: 10rem;
} */

#menu .textButton:nth-child(1) {
  background: #f94348;
}

#menu .textButton:nth-child(2) {
  background: #9261ff;
}

#menu .textButton:nth-child(3) {
  background: #3cc5f8;
}

#menu .textButton:nth-child(4) {
  background: #4acb8a;
}

#menu .textButton:nth-child(6) {
  background: #ffd543;
}

#menu .textButton:nth-child(7) {
  background: #ff9349;
}

#menu .textButton:nth-child(8) {
  background: #f94348;
}

/* #menu:after{
    content: "";
    background: #ff9349;
    width: 1.25rem;
    height: 1.25rem;
    padding: .5rem;
    border-radius: 10rem;
} */

#top.focus #menu .textButton.discord::after {
  border-color: transparent;
}
