nav > .textButton:nth-child(1) {
  color: #ec75c4;
}

nav > .textButton:nth-child(2) {
  color: #8be9fd;
}

nav > .textButton:nth-child(3) {
  color: #50fa7b;
}

nav > .textButton:nth-child(4) {
  color: #f1fa8c;
}

nav > .textButton:nth-child(5) {
  color: #ffb86c;
}

nav > .textButton:nth-child(6) {
  color: #ffb86c;
}
