[data-nav-item="test"] {
  color: #2884bb;
}

[data-nav-item="leaderboards"] {
  color: #25a5a9;
}

[data-nav-item="about"] {
  color: #de9c24;
}

[data-nav-item="settings"] {
  color: #d82231;
}

[data-nav-item="alerts"],
[data-nav-item="account"],
[data-nav-item="login"] {
  color: #212222;
}
