[data-nav-item="test"] {
  color: #ff7e73;
}

[data-nav-item="leaderboards"] {
  color: #f5c370;
}

[data-nav-item="about"] {
  color: #08d9a3;
}

[data-nav-item="settings"] {
  color: #0ca5e2;
}

[data-nav-item="alerts"],
[data-nav-item="account"],
[data-nav-item="login"] {
  color: #875ac6;
}
