nav > .textButton:nth-child(1) {
  color: #ff7e73;
}

nav > .textButton:nth-child(2) {
  color: #f5c370;
}

nav > .textButton:nth-child(3) {
  color: #08d9a3;
}

nav > .textButton:nth-child(4) {
  color: #0ca5e2;
}

nav > .textButton:nth-child(5),
nav > .textButton:nth-child(6) {
  color: #875ac6;
}
