nav > .textButton:nth-child(1) {
  color: #a6bf50;
}

nav > .textButton:nth-child(2) {
  color: #c3921a;
}

nav > .textButton:nth-child(3) {
  color: #b92221;
}

nav > .textButton:nth-child(4) {
  color: #88b6ce;
}

nav > .textButton:nth-child(5),
nav > .textButton:nth-child(6) {
  color: #661968;
}
