[data-nav-item="test"] {
  color: #a6bf50;
  &:hover {
    color: color-mix(in srgb, #a6bf50 75%, white 25%);
  }
}

[data-nav-item="leaderboards"] {
  color: #c3921a;
  &:hover {
    color: color-mix(in srgb, #c3921a 75%, white 25%);
  }
}

[data-nav-item="about"] {
  color: #b92221;
  &:hover {
    color: color-mix(in srgb, #b92221 75%, white 25%);
  }
}

[data-nav-item="settings"] {
  color: #88b6ce;
  &:hover {
    color: color-mix(in srgb, #88b6ce 75%, white 25%);
  }
}

[data-nav-item="alerts"],
[data-nav-item="account"],
[data-nav-item="login"] {
  --themable-button-text: #661968;
  --themable-button-hover-text: color-mix(
    in srgb,
    var(--themable-button-text) 75%,
    white 25%
  );
}
