[data-nav-item="test"] {
  color: #f04e98;
  &:hover {
    color: color-mix(in srgb, #f04e98 75%, black 25%);
  }
}

[data-nav-item="leaderboards"] {
  color: #f8bed6;
  &:hover {
    color: color-mix(in srgb, #f8bed6 75%, black 25%);
  }
}

[data-nav-item="about"] {
  color: #f6eb61;
  &:hover {
    color: color-mix(in srgb, #f6eb61 75%, black 25%);
  }
}

[data-nav-item="settings"] {
  color: #a4dbe8;
  &:hover {
    color: color-mix(in srgb, #a4dbe8 75%, black 25%);
  }
}

[data-nav-item="alerts"],
[data-nav-item="account"],
[data-nav-item="login"] {
  --themable-button-text: #a266ed;
  --themable-button-hover-text: color-mix(
    in srgb,
    var(--themable-button-text) 75%,
    black 25%
  );
}
