:root {
  --bg-color: #181818;
  --main-color: #95a99f;
  --caret-color: #ffdd33;
  --sub-color: #505050;
  --sub-alt-color: #282828;
  --text-color: #e4e4ef;
  --error-color: #c73c3f;
  --error-extra-color: #f43841;
  --colorful-error-color: #f43841;
  --colorful-error-extra-color: #ff4f58;
}
