:root {
  --bg-color: #fbf1c7;
  --main-color: #689d6a;
  --caret-color: #689d6a;
  --sub-color: #a89984;
  --sub-alt-color: #daceae;
  --text-color: #3c3836;
  --error-color: #cc241d;
  --error-extra-color: #9d0006;
  --colorful-error-color: #cc241d;
  --colorful-error-extra-color: #9d0006;
}
