nav > .textButton:nth-child(1) {
  color: #d55170;
}

nav > .textButton:nth-child(2) {
  color: #e4a88a;
}

nav > .textButton:nth-child(3) {
  color: #db886f;
}

nav > .textButton:nth-child(4) {
  color: #db887a;
}

nav > .textButton:nth-child(5),
nav > .textButton:nth-child(6) {
  color: #ffc819;
}
