:root {
  --bg-color: #161821;
  --caret-color: #d2d4de;
  --main-color: #84a0c6;
  --sub-color: #595e76;
  --sub-alt-color: #232531;
  --text-color: #c6c8d1;
  --error-color: #e27878;
  --error-extra-color: #e2a478;
  --colorful-error-color: #e27878;
  --colorful-error-extra-color: #e2a478;
}
