header [data-ui-element="logoText"] {
  background: linear-gradient(
    90deg,
    var(--text-color) 64%,
    var(--main-color) 36%
  );
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 0.1em;
  line-height: 1;
}

[data-ui-element="logoSubtext"] {
  margin-top: 0em;
}

header [data-ui-element="logo"] svg {
  color: var(--text-color);
}
