header [data-ui-element="logoText"] {
  background: linear-gradient(
    90deg,
    var(--text-color) 64%,
    var(--main-color) 36%
  );
  background-clip: text;
  color: transparent;
  padding-bottom: 0.1em;
  line-height: 1;
}

[data-ui-element="logoSubtext"] {
  margin-top: 0em;
}

header [data-ui-element="logo"] svg {
  color: var(--text-color);
  padding-bottom: 0.05em;
}

/* fix logo clipping */
nav {
  padding-bottom: 0.2em;
}
header {
  margin-bottom: -0.1em;
}
