:root {
  --bg-color: #242424;
  --main-color: #CC8242;
  --caret-color: #CC8261;
  --sub-color: #FFB66D;
  --sub-alt-color: #303030;
  --text-color: #CCCCBA;
  --error-color: #f44909;
  --error-extra-color: #f44747;
  --colorful-error-color: #f44747;
  --colorful-error-extra-color: #f44747
 }
