:root {
  --bg-color: #635bff;
  --main-color: #8e94f2;
  --caret-color: #0048e5;
  --sub-color: #ffffff;
  --sub-alt-color: #005620;
  --text-color: #76df47;
  --error-color: #ff5996;
  --error-extra-color: #ef233c;
  --colorful-error-color: #ef476f;
  --colorful-error-extra-color: #ffb1cd;
}