:root {
    --bg-color: #202c39;
    --main-color: #8e94f2;
    --caret-color: #88d498;
    --sub-color: #b8b08d;
    --sub-alt-color: #e8dab2;
    --text-color: #f29559;
    --error-color: #d80032;
    --error-extra-color: #ef233c;
    --colorful-error-color: #ef476f;
    --colorful-error-extra-color: #a26769;
  }