nav .textButton {
  border-radius: 10rem !important;
  background: var(--text-color);
  color: var(--main-color);
}

nav .textButton:hover {
  color: var(--bg-color);
  background: var(--text-color);
}

body.crtmode nav .textButton {
  box-shadow:
    3px 0 1px var(--crt-text-color-glow),
    -3px 0 var(--crt-text-color-glow),
    0 0 3px;
}
