[data-nav-item] {
  border-radius: 10rem !important;
  background: var(--text-color);
  color: var(--main-color);
}

[data-nav-item]:hover {
  color: var(--bg-color);
  background: var(--text-color);
}

[data-nav-item="alerts"],
[data-ui-element="navAvatar"] {
  & [data-ui-element="notificationBubble"] {
    box-shadow: none;
    background: var(--bg-color);
  }
}

[data-ui-element="userLevel"] {
  --themable-flash-color: var(--text-color);
  --themable-bg-color: var(--bg-color);
  --themable-text-color: var(--main-color);
  --themable-hover-bg-color: var(--bg-color);
}

body.crtmode [data-nav-item] {
  box-shadow:
    3px 0 1px var(--crt-text-color-glow),
    -3px 0 var(--crt-text-color-glow),
    0 0 3px;
}
