:root {
  --bg-color: #ada6c2;
  --main-color: #e4e3e9;
  --caret-color: #e4e3e9;
  --sub-color: #e4e3e9;
  --text-color: #2f2a41;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

#menu .icon-button {
  border-radius: 10rem !important;
  background: #2f2a41;
  color: #e4e3e9;
}

#menu .icon-button:hover {
  color: #ada6c2;
}
