:root {
    --bg-color: #9324C6;
    --main-color: #3A0453;
    --caret-color: #4c0e5e;
    --sub-color: #CB5BFF;
    --sub-alt-color: #72307e;
    --text-color: #2E0043;
    --error-color: #6a0f6c;
    --error-extra-color: #5d446b;
    --colorful-error-color: #2f1523;
    --colorful-error-extra-color: #69005d;
  }
  