:root {
  --bg-color: #fffbfe;
  --main-color: #b94189;
  --caret-color: #e099d6d9;
  --sub-color: #e094c2;
  --sub-alt-color: #ecdceed9;
  --text-color: #5c2954;
  --error-color: #ff6f69;
  --error-extra-color: #ff6f69;
  --colorful-error-color: #bc7fc0;
  --colorful-error-extra-color: #bc41b1;
}
