:root {
  --bg-color: #fffbfe;
  --main-color: #8f4371;
  --caret-color: #e099d6d9;
  --sub-color: #de7fb8;
  --sub-alt-color: #ecdceed9;
  --text-color: #8e4883;
  --error-color: #a85ea4;
  --error-extra-color: #976698;
  --colorful-error-color: #bc7fc0;
  --colorful-error-extra-color: #bc41b1;
}
