:root {
  --bg-color: #101010;
  --main-color: #a877c8;
  --caret-color: #f7bb2a;
  --sub-color: #a2b2df;
  --sub-alt-color: #202020;
  --text-color: #e4ffc2;
  --error-color: #f00;
  --error-extra-color: #f44336;
  --colorful-error-color: #ff0b83;
  --colorful-error-extra-color: #ca0667;
}
