:root {
  --bg-color: #7c878e;
  --main-color: #93c247;
  --caret-color: #93c247;
  --sub-color: #4b5257;
  --sub-alt-color: #737d82;
  --text-color: #bfcfdc;
  --error-color: #ea4221;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ea4221;
  --colorful-error-extra-color: #7e2a33;
}
