:root {
  --bg-color: #523525;
  --main-color: #7ec160;
  --caret-color: #7ec160;
  --sub-color: #9e6749;
  --sub-alt-color: #422b1e;
  --text-color: #ecddcc;
  --error-color: #fb4934;
  --error-extra-color: #cc241d;
  --colorful-error-color: #fb4934;
  --colorful-error-extra-color: #cc241d;
}
