:root {
  --bg-color: #000000;
  --main-color: #15ff00;
  --caret-color: #15ff00;
  --sub-color: #003b00;
  --text-color: #adffa7;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}

#liveWpm,
#timerNumber {
  color: white;
}
