:root {
  --bg-color: #00c18c;
  --main-color: #ffffff;
  --caret-color: #99fdd8;
  --sub-color: #186544;
  --sub-alt-color: #17ae7d;
  --text-color: #ffffff;
  --error-color: #e03c3c;
  --error-extra-color: #b12525;
  --colorful-error-color: #e03c3c;
  --colorful-error-extra-color: #b12525;
}
