:root {
  --bg-color: #232323;
  --main-color: #d82934;
  --caret-color: #d82934;
  --sub-color: #5e5e5e;
  --sub-alt-color: #1d1d1d;
  --text-color: #e8e8e8;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #d7da33;
  --colorful-error-extra-color: #737917;
}
