header #logo .bottom {
  color: #f4bc46;
}

nav > .textButton:nth-child(1) {
  color: #d44729;
}

nav > .textButton:nth-child(2) {
  color: #d44729;
}

nav > .textButton:nth-child(3) {
  color: #d44729;
}

nav > .textButton:nth-child(4) {
  color: #d44729;
}

nav > .textButton:nth-child(5) {
  color: #d44729;
}
