:root {
  --bg-color: #0f1f2c;
  --main-color: #56c3b7;
  --caret-color: #56c3b7;
  --sub-color: #326984;
  --text-color: #e4edf1;
  --error-color: #d44729;
  --error-extra-color: #8f2f19;
  --colorful-error-color: #d44729;
  --colorful-error-extra-color: #8f2f19;
}

#top .logo .bottom {
  color: #f4bc46;
}

#menu .icon-button:nth-child(1) {
  color: #d44729;
}

#menu .icon-button:nth-child(2) {
  color: #d44729;
}

#menu .icon-button:nth-child(3) {
  color: #d44729;
}

#menu .icon-button:nth-child(4) {
  color: #d44729;
}

#menu .icon-button:nth-child(5),
#menu .icon-button:nth-child(6),
#menu .icon-button:nth-child(7) {
  color: #d44729;
}
