:root {
  --bg-color: #0b0e13;
  --main-color: #60759f;
  --caret-color: #60759f;
  --sub-color: #394760;
  --sub-alt-color: #141a24;
  --text-color: #9fadc6;
  --error-color: #c27070;
  --error-extra-color: #c28b70;
  --colorful-error-color: #c27070;
  --colorful-error-extra-color: #c28b70;
}
