nav > .textButton:nth-child(1) {
  color: #f19dac;
}

nav > .textButton:nth-child(2) {
  color: #f6f4a0;
}

nav > .textButton:nth-child(3) {
  color: #73e4d0;
}

nav > .textButton:nth-child(4) {
  color: #61cfe6;
}

nav > .textButton:nth-child(5) {
  color: #ba96db;
}

nav > .textButton:nth-child(6) {
  color: #ba96db;
}
