:root {
  --bg-color: #afcbdd;
  --main-color: #fcfbf6;
  --caret-color: #fcfbf6;
  --sub-color: #85a5bb;
  --sub-alt-color: #9fc1d4;
  --text-color: #1a2633;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
