:root {
  --bg-color: #dbdbdb;
  --caret-color: #8fd1c3;
  --main-color: #8fd1c3;
  --sub-color: #a3a2a2;
  --sub-alt-color: #e8e8e8;
  --text-color: #454545;
  --error-color: #ea8a9a;
  --error-extra-color: #e0556d;
  --colorful-error-color: #ea8a9a;
  --colorful-error-extra-color: #e0556d;
}
