:root {
  --main-color: #000000;
  --caret-color: #9f9f9f;
  --sub-color: #838383;
  --sub-alt-color: #dbdbdb;
  --bg-color: #ffffff;
  --text-color: #000000;
  --error-color: #c8c8c8;
  --error-extra-color: #9c9c9c;
  --colorful-error-color: #313131;
  --colorful-error-extra-color: #3d3d3d;
}

@keyframes error {
  0% {
    color: #000000;
  }
  25% {
    color: #313131;
  }
  50% {
    color: #838383;
  }
  75% {
    color: #c8c8c8;
  }
  100% {
    color: #ffffff;
  }
}

#words:not(.flipped) .word letter.incorrect {
  animation: error 2s alternate infinite;
}
