/*inspired by GMK MOONLIGHT*/
:root {
  --bg-color: #191f28;
  --main-color: #c69f68;
  --caret-color: #8f744b;
  --sub-color: #4b5975;
  --sub-alt-color: #141a22;
  --text-color: #ccccb5;
  --error-color: #b81b2c;
  --error-extra-color: #84131f;
  --colorful-error-color: #b81b2c;
  --colorful-error-extra-color: #84131f;
}
#menu {
  gap: 0.5rem;
}
header.focus #menu .textButton,
header.focus #menu:before,
header.focus #menu:after {
  background: var(--bg-color);
}
#menu .textButton:nth-child(1),
#menu .textButton:nth-child(2),
#menu .textButton:nth-child(3),
#menu .textButton:nth-child(4) {
  border-radius: rem !important;
  color: #191f28 !important;
  background: #c69f68;
}
#menu .textButton:nth-child(1):hover,
#menu
  .textButton:nth-child(2):hover
  #menu
  .textButton:nth-child(3):hover
  #menu
  .textButton:nth-child(4):hover {
  border-radius: rem !important;
  color: #4b5975 !important;
  transition: 0.25s;
}
/* #menu .textButton:nth-child(1) {
  background: #c69f68;
}
#menu .textButton:nth-child(2) {
  background: #c69f68;
}
#menu .textButton:nth-child(3) {
  background: #c69f68;
}
#menu .textButton:nth-child(4) {
  background: #c69f68;
}
#menu .textButton:nth-child(5) {
  background: #c69f68;
}
#menu .textButton:nth-child(6),
#menu .textButton:nth-child(7),
#menu .textButton:nth-child(8) {
  background: #c69f68;
} */
header.focus #menu .textButton.discord::after {
  border-color: transparent;
}

body.crtmode {
  #menu .textButton:nth-child(1),
  #menu .textButton:nth-child(2),
  #menu .textButton:nth-child(3),
  #menu .textButton:nth-child(4) {
    box-shadow: 3px 0 1px color-mix(in srgb, #c69f68 20%, transparent),
      -3px 0 color-mix(in srgb, #c69f68 30%, transparent), 0 0 3px;
  }
  header.focus #menu .textButton {
    box-shadow: none;
  }
}
