header #logo .bottom {
  color: #8fadc9;
}

header .config .group .buttons .textButton.active {
  color: #daa99b;
}

/* nav .textButton:nth-child(1){
    color: #daa99b;
}

nav .textButton:nth-child(2){
    color: #daa99b;
}

nav .textButton:nth-child(3){
    color: #8fadc9;
}

nav .textButton:nth-child(4),
nav .textButton:nth-child(5){
    color: #8fadc9;
} */
