:root {
  --bg-color: #d1d7da;
  --main-color: #daa99b;
  --caret-color: #8fadc9;
  --sub-color: #9a9fa1;
  --text-color: #1d1d1d;
  --error-color: #bf6464;
  --error-extra-color: #793e44;
  --colorful-error-color: #8fadc9;
  --colorful-error-extra-color: #667c91;
}

#top .logo .bottom {
  color: #8fadc9;
}

#top .config .group .buttons .text-button.active {
  color: #daa99b;
}

/* #menu .icon-button:nth-child(1){
    color: #daa99b;
}

#menu .icon-button:nth-child(2){
    color: #daa99b;
}

#menu .icon-button:nth-child(3){
    color: #8fadc9;
}

#menu .icon-button:nth-child(4),
#menu .icon-button:nth-child(5){
    color: #8fadc9;
} */
