:root {
  --bg-color: #ffffff;
  --main-color: #5ed5f3;
  --caret-color: #303030;
  --sub-color: #d64090;
  --sub-alt-color: #edf8fa;
  --text-color: #0a282f;
  --error-color: #000000;
  --error-extra-color: #c9c9c9;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
