:root {
    --bg-color: #090909;
    --main-color: #4da51e;
    --caret-color: #eb9600;
    --sub-color: #8f8f8f;
    --sub-alt-color: #3b3b3b;
    --text-color: #ffffff;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
  }
