:root {
    --bg-color: #1f1d2e;
    --main-color: #7e5bef; 
    --caret-color: #a772ff;
    --sub-color: #6f4dd2;
    --sub-alt-color: #281a40;
    --text-color: #efe6ff;
    --error-color: #ef5777;
    --error-extra-color: #632751;
    --colorful-error-color: #ef5777;
    --colorful-error-extra-color: #632751;
  }
  