:root {
  --bg-color: #0f1800;
  --main-color: #0f6e0b;
  --caret-color: #196200;
  --sub-color: #8caa88;
  --sub-alt-color: #212121;
  --text-color: #d2f631;
  --error-color: #fc1212;
  --error-extra-color: #cc241d;
  --colorful-error-color: #cc241d;
  --colorful-error-extra-color: #9d0006;
}
