:root {
  --bg-color: #212135;
  --main-color: #be3c88;
  --caret-color: #78c729;
  --sub-color: #19b3b8;
  --sub-alt-color: #191928;
  --text-color: #838686;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
