:root {
  --bg-color: #242933;
  --caret-color: #d8dee9;
  --main-color: #d8dee9;
  --sub-color: #617b94;
  --text-color: #d8dee9;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
