nav > .textButton:nth-child(1) {
  color: #9a90b4;
}

nav > .textButton:nth-child(2) {
  color: #8db14b;
}

nav > .textButton:nth-child(3) {
  color: #fca321;
}

nav > .textButton:nth-child(4) {
  color: #2984a5;
}

nav > .textButton:nth-child(5),
nav > .textButton:nth-child(6) {
  color: #dd452e;
}
