:root {
  --bg-color: #2f343f;
  --caret-color: #61afef;
  --main-color: #61afef;
  --sub-color: #eceff4;
  --sub-alt-color: #262b34;
  --text-color: #98c379;
  --error-color: #e06c75;
  --error-extra-color: #d62436;
  --colorful-error-color: #d62436;
  --colorful-error-extra-color: #ff0019;
}
