:root {
  --bg-color: #ce1226;
  --main-color: #fcd116;
  --caret-color: #fcd116;
  --sub-color: #6d0f19;
  --sub-alt-color: #9f1020;
  --text-color: #ffffff;
  --error-color: #fcd116;
  --error-extra-color: #fcd116;
  --colorful-error-color: #1672fc;
  --colorful-error-extra-color: #1672fc;
}
