:root {
    --bg-color: #FFFDDE;
    --main-color: #03001C;
    --caret-color: #4E6C50;
    --sub-color: #A0C3D2;
    --sub-alt-color: #C6DCE4;
    --text-color: #0081B4;
    --error-color: #F900BF;
    --error-extra-color: #3EC70B;
    --colorful-error-color: #CE1212;
    --colorful-error-extra-color: #FA8072;
  }
