:root {
  --bg-color: #181818;
  --main-color: #17b8bd;
  --caret-color: #17b8bd;
  --sub-color: #53565a;
  --sub-alt-color: #121212;
  --text-color: #e5f4f4;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}
