:root {
  --bg-color: #1f2533;
  --main-color: #9999ff;
  --caret-color: #9999ff;
  --sub-color: #ccddff;
  --sub-alt-color: #3d4b66;
  --text-color: #9999ff;
  --error-color: #ff6666;
  --error-extra-color: #ff6666;
  --colorful-error-color: #ff6666;
  --colorful-error-extra-color: #ff6666;
}

#menu .textButton {
  color: #99ffdd;
}

footer .leftright div {
  color: #99ffdd;
}

footer .leftright i {
  color: #99ffdd;
}
