:root {
  --bg-color: linear-gradient(-45deg, #040527, #041537, #040547, #16026f);
  --main-color: #3fa3ff;
  --caret-color: #00ddee;
  --text-color: #dde5ed;
  --error-color: #fd77d7;
  --sub-color: #607faf;
  --sub-alt-color: #101060;
  --error-color: #ff5869;
  --error-extra-color: #b03c47;
  --colorful-error-color: #ff5869;
  --colorful-error-extra-color: #b03c47;
}

key {
    background-color: #ffffff20;
    color: var(--caret-color);
}

button:hover {
    background-color: #3fa3ff88;
    color: #fff;
}

header #logo .top {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#words .incorrect.extra {
  transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
}

nav {
  gap: 0.5rem;
}

nav > .textButton:hover {
  color: currentColor;
}

nav > .textButton:nth-child(1) {
  color: #aaff4faa;
}

nav > .textButton:nth-child(2) {
  color: #ffdd70aa;
}

nav > .textButton:nth-child(3) {
  color: #00ddeeaa;
}

nav > .textButton:nth-child(4) {
  color: #af8fffaa;
}

nav > .textButton:nth-child(5) {
  background: #aaff4faa;
}

nav > .textButton:nth-child(6) {
  background: #ffdd70aa;
}

nav > .textButton:nth-child(7) {
  background: #00ddeeaa;
}

nav > .textButton:nth-child(8) {
  background: #8f6fffaa;
}