:root {
  --bg-color:  #00539C;
  --caret-color: #EEA47F;
  --main-color: #EEA47F;
  --sub-color: #5a80a1;
  --sub-alt-color: #013c70;
  --text-color: #eccfc1;
  --error-color: #e74040;
  --error-extra-color: #a22f2f;
  --colorful-error-color: #f56674;
  --colorful-error-extra-color: #e33546;
}
