:root {
  --bg-color: #dad3c1;
  --main-color: #1d1b17;
  --caret-color: #1d1b17;
  --sub-color: #918b7d;
  --sub-alt-color: #c8c3b3;
  --text-color: #1d1b17;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
