:root {
  --bg-color: #1a2b3e;
  --caret-color: #af8f5c;
  --main-color: #af8f5c;
  --sub-color: #3a506c;
  --sub-alt-color: #152231;
  --text-color: #c9c8bf;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
