:root {
  --bg-color: #6aebb4;
  --main-color: #00cbb7;
  --caret-color: #68dac7;
  --sub-color: #b2ffde;
  --text-color: #edf4ed;
  --error-color: #ff2600;
  --error-extra-color: #ff2600;
  --colorful-error-color: #ff2600;
  --colorful-error-extra-color: #ff2600;
}

#top .logo .bottom {
  color: #00cbb7;
}
