:root {
    --bg-color: #094494;
    --main-color: #ffffff;
    --caret-color: #000000;
    --sub-color: #2f3336;
    --sub-alt-color: #ffffff;
    --text-color: #ffffff;
    --error-color: #ef0920;
    --error-extra-color: #ef0920;
    --colorful-error-color: #e800ff;
    --colorful-error-extra-color: #e800ff;

