:root {
  --bg-color: #ffffff;
  --main-color: #2d2076;
  --caret-color: #fbdb8c;
  --sub-color: #385eca;
  --text-color: #2d2076;
  --error-color: #f2ce83;
  --error-extra-color: #f2ce83;
  --colorful-error-color: #f2ce83;
  --colorful-error-extra-color: #f2ce83;
}

#menu .icon-button {
  color: #f2ce83;
}

#menu .icon-button:hover {
  color: #c6915e;
}

#top .logo .text {
  background-color: #ffffff; /* fallback */
  background: -webkit-linear-gradient(
    #2d2076,
    #2d2076 25%,
    #2e3395 25%,
    #2e3395 50%,
    #3049ba 50%,
    #3049ba 75%,
    #385eca 75%,
    #385eca
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#top .logo .text .top {
  /* prevent it from being transparent */
  -webkit-text-fill-color: #385eca;
}
