:root {
  --bg-color: #ced7e0;
  --main-color: #81c4dd;
  --caret-color: #81c4dd;
  --sub-color: #7599b1;
  --sub-alt-color: #b7cada;
  --text-color: #3b4c58;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
