:root {
  --bg-color: ##5b81b3;
  --main-color: #87ceeb;
  --caret-color: #ffffff;
  --sub-color: #00b7ff;
  --sub-alt-color: #2e78bd;
  --text-color: #ffffff;
  --error-color: #d4d4d4;
  --error-extra-color: #d4d4d4;
  --colorful-error-color: #adadad;
  --colorful-error-extra-color: #adadad;
}

#liveWpm,
#timerNumber {
  color: #ffffff;
}
