#words {
  --correct-letter-color: var(--text-color);
  --untyped-letter-color: #586e75;
}

header #logo {
  color: var(--text-color);
}

header #logo .icon {
  color: var(--text-color) !important;
}

kbd {
  color: var(--text-color);
  background-color: var(--sub-alt-color);
}

button.text:hover,
.button.text:hover,
.textButton:hover {
  color: var(--caret-color);
}

button.text.active,
.button.text.active,
.textButton.active {
  color: var(--main-color);
}

button:not(.textButton):hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  color: var(--bg-color);
  background: var(--caret-color);
}

.scrollToTopButton:hover {
  background: var(--caret-color);
  color: var(--bg-color);
}
