:root {
  --bg-color: #fdf6e3;
  --main-color: #859900;
  --caret-color: #dc322f;
  --sub-color: #2aa198;
  --sub-alt-color: #e2d8be;
  --text-color: #181819;
  --error-color: #d33682;
  --error-extra-color: #9b225c;
  --colorful-error-color: #d33682;
  --colorful-error-extra-color: #9b225c;
}
