:root {
  --bg-color: #010203;
  --main-color: #383e42;
  --caret-color: #e25303;
  --sub-color: #5e676e;
  --text-color: #383e42;
  --error-color: #e25303;
  --error-extra-color: #73280c;
  --colorful-error-color: #e25303;
  --colorful-error-extra-color: #73280c;
}
#menu .icon-button:nth-child(4) {
  color: #e25303;
}
#timerNumber {
  color: #5e676e;
}
