:root {
  --bg-color: #f37f83;
  --main-color: #fcfcf8;
  --caret-color: #fcfcf8;
  --sub-color: #e53c58;
  --sub-alt-color: #ef6e77;
  --text-color: #fcfcf8;
  --error-color: #fcd23f;
  --error-extra-color: #d7ae1e;
  --colorful-error-color: #fcd23f;
  --colorful-error-extra-color: #d7ae1e;
}
