:root {
  --bg-color: #124883;
  --main-color: #d7dcda;
  --caret-color: #d7dcda;
  --sub-color: #0f2d4e;
  --sub-alt-color: #104176;
  --text-color: #d6dbd9;
  --error-color: #fb4934;
  --error-extra-color: #cc241d;
  --colorful-error-color: #fb4934;
  --colorful-error-extra-color: #cc241d;
}
