nav > .textButton:nth-child(1),
nav > .textButton:nth-child(2),
nav > .textButton:nth-child(3),
nav > .textButton:nth-child(4) {
  color: #f79777;
}

nav > .textButton:nth-child(1):hover,
nav > .textButton:nth-child(2):hover,
nav > .textButton:nth-child(3):hover,
nav > .textButton:nth-child(4):hover {
  color: #ffca99;
}
