:root {
    --bg-color: #ffede0;
    --main-color: #fe5503;
    --caret-color: #5d8500;
    --sub-color: #ff9562;
    --sub-alt-color: #fdd3bf;
    --text-color: #ff5300;
    --error-color: #ff0000;
    --error-extra-color: #ff1f1f;
    --colorful-error-color: #ff0000;
    --colorful-error-extra-color: #ff1f1f;
  }
