.word.error {
  border-bottom: dotted 2px var(--text-color);
}

[data-nav-item="test"] {
  background: var(--caret-color);
  border-radius: 50%;
  --nav-focus-opacity: 1;
}

[data-nav-item="leaderboards"] {
  background: var(--error-color);
  border-radius: 50%;
  --nav-focus-opacity: 1;
}

header[data-focused] {
  & [data-nav-item="test"],
  & [data-nav-item="leaderboards"] {
    color: transparent;
  }
}

body.crtmode [data-nav-item="test"] {
  box-shadow:
    3px 0 1px var(--crt-caret-color-glow),
    -3px 0 var(--crt-caret-color-glow);
}

body.crtmode [data-nav-item="leaderboards"] {
  box-shadow:
    3px 0 1px var(--crt-error-color-glow),
    -3px 0 var(--crt-error-color-glow);
}
