:root {
  --bg-color: #191a1b;
  --caret-color: #79a617;
  --main-color: #79a617;
  --sub-color: #48494b;
  --sub-alt-color: #141516;
  --text-color: #e7eae0;
  --error-color: #a61717;
  --error-extra-color: #731010;
  --colorful-error-color: #a61717;
  --colorful-error-extra-color: #731010;
}
