:root {
  --bg-color: #1f2335;
  --main-color: #c3e88d;
  --caret-color: #b4f9f8;
  --sub-color: #414868;
  --sub-alt-color: #ffffff;
  --text-color: #a9b1d6;
  --error-color: #ff757f;
  --error-extra-color: #ffffff;
  --colorful-error-color: #ffffff;
  --colorful-error-extra-color: #ffffff;
}
