:root {
    --bg-color: #749a7c;
    --main-color: #ffffff;
    --caret-color: #babfbc;
    --sub-color: #646669;
    --sub-alt-color: #7fa67d;
    --text-color: #536e63;
    --error-color: #9fbac6;
    --error-extra-color: ##b5d9d0;
    --colorful-error-color: #92b1b5;
    --colorful-error-extra-color: #a3b9bd;
  }
  