:root {
    --bg-color: #749a7c;
    --main-color: #ffffff;
    --caret-color: #a3ffc8;
    --sub-color: #8fff70;
    --sub-alt-color: #4f6f4d;
    --text-color: #d3ffc7;
    --error-color: #ff9494;
    --error-extra-color: #c26666;
    --colorful-error-color: #ff9494;
    --colorful-error-extra-color: #c26666;
  }