:root {
  --bg-color: turquoise;
  --main-color: teal;
  --caret-color: teal;
  --sub-color: skyblue;
  --sub-alt-color: lightblue;
  --text-color: teal;
  --error-color: #0047AB;
  --error-extra-color: darkblue;
  --colorful-error-color: #0047AB;
  --colorful-error-extra-color: darkblue;

}
