:root {
  --bg-color: turquoise;
  --main-color: teal;
  --caret-color: darkblue;
  --sub-color: teal;
  --sub-alt-color: teal;
  --text-color: black;
  --error-color: coral;
  --error-extra-color: coral;
  --colorful-error-color: coral;
  --colorful-error-extra-color: coral;
}
