:root {
  --bg-color: #190618;
  --main-color: #e0caac;
  --caret-color: #e0caac;
  --sub-color: #4c1e48;
  --sub-alt-color: #2c0c28;
  --text-color: #eeeae4;
  --error-color: #af3735;
  --error-extra-color: #7e2a29;
  --colorful-error-color: #af3735;
  --colorful-error-extra-color: #7e2a29;
}
