:root {
  --bg-color: #1e1e1e;
  --main-color: #007acc;
  --caret-color: #e2c08d;
  --sub-color: #d4d4d4;
  --sub-alt-color: #383a49;
  --text-color: #a6a6a6;
  --error-color: #f14c4c;
  --error-extra-color: #f14c4c;
  --colorful-error-color: #f14c4c;
  --colorful-error-extra-color: #f14c4c;
}
