input {
  outline: none;
  border: none;
  border-radius: var(--roundness);
  background: rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  font-family: var(--font);
}

input[type="range"] {
  -webkit-appearance: none;
  padding: 0;
  width: 100%;
  height: 1rem;
  border-radius: var(--roundness);
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 2rem;
    height: 1rem;
    border-radius: var(--roundness);
    background-color: var(--main-color);
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 2rem;
    height: 1rem;
    border-radius: var(--roundness);
    background-color: var(--main-color);
  }
}

input[type="color"] {
  -webkit-appearance: none;
  padding: 0;
  width: 100%;
  // height: 32px;
  height: 1.8rem;
  overflow: hidden;
  border-radius: var(--roundness);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

::-moz-color-swatch {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.colorPicker {
  text-align: center;
  will-change: transform;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  border-radius: var(--roundness);

  & label {
    position: absolute;
    width: 100%;
    // height: 32px;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    color: var(--bg-color);
    cursor: pointer;
  }

  & [for="--bg-color"] {
    color: var(--text-color);
  }

  & #--bg-color {
    border: 2px solid var(--sub-color);
  }
}

.select2-dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
  outline: none;
}

.select2-selection {
  background: rgba(0, 0, 0, 0.1);
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--text-color);
  outline: none;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--sub-color);
  color: var(--text-color);
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.select2-container--open .select2-dropdown--below {
  border-color: rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  color: var(--sub-color);
  border-radius: var(--roundness);
}

.select2-container--default .select2-selection--single {
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
  height: auto;
}

.select2-selection:focus {
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}
.select2-selection:active {
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 35px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--main-color) transparent transparent transparent;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--main-color) transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: rgba(0, 0, 0, 0.1);
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: var(--roundness);
}
