.turbo
.github
*.md
docker/
*.min.js
*.min.css
layouts.ts
quotes/*
chartjs-plugin-*.js
sound/*
node_modules
css/balloon.css
_list.json
backend/logs
backend/coverage
backend/globalConfig.json
frontend/public
dist/
build/
frontend/coverage
pnpm*.yaml
