{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
