{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["frontend/src/js/**/*.ts", "backend/**/*.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
