{
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": [
        "Typings/**/*.d.ts",
        "frontend/src/js/**/*.ts",
        "backend/**/*.ts"
      ],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
