.page404 {
  display: grid;
  justify-content: center;
  height: 100%;
  align-content: center;
}

.page404 .content {
  display: grid;
  grid-auto-flow: column;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.page404 .content .image {
  width: 100%;
  align-self: center;
  background-image: url("/images/monkeymeme.jpg");
  aspect-ratio: 300/199;
  background-size: contain;
  border-radius: var(--roundness);
}

.page404 .content .title {
  font-size: 5rem;
  line-height: 4rem;
  color: var(--main-color);
  align-self: center;
}

.page404 .content .side {
  justify-items: center;
  display: grid;
  gap: 1rem;
  text-align: center;
}

.page404 .content .side .big {
  font-size: 10rem;
  line-height: 10rem;
  color: var(--sub-color);
}

.page404 .content .side .button {
  padding: 1rem 2rem;
  width: max-content;
}
