.page404 {
  display: grid;
  justify-content: center;
  height: 100%;
  align-content: center;
  .content {
    justify-items: center;
    display: grid;
    gap: 2rem;
    width: min-content;
    text-align: center;
    .image {
      width: 300px;
      background-image: url("./../images/monkeymeme.jpg");
      aspect-ratio: 1210/800;
      background-size: contain;
    }
    .big {
      font-size: 10rem;
      line-height: 10rem;
      color: var(--sub-color);
    }
    .button {
      padding: 1rem 2rem;
      width: max-content;
    }
  }
}
