.signOut {
  font-size: 1rem;
  line-height: 1rem;
  justify-self: end;
  // background: var(--sub-color);
  color: var(--sub-color);
  width: fit-content;
  width: -moz-fit-content;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: var(--roundness);
  cursor: pointer;
  transition: 0.25s;
  float: right;

  &:hover {
    color: var(--text-color);
  }

  .fas {
    margin-right: 0.5rem;
  }
}

.pageAccount {
  display: grid;
  gap: 1rem;

  .content {
    display: grid;
    gap: 2rem;
  }

  .sendVerificationEmail {
    cursor: pointer;
  }

  .timePbTable,
  .wordsPbTable {
    .sub {
      opacity: 0.5;
    }
    td {
      text-align: right;
    }
    tbody td:nth-child(1) {
      font-size: 1.5rem;
      border-radius: var(--roundness) 0 0 var(--roundness);
    }
    tbody td:last-child {
      border-radius: 0 var(--roundness) var(--roundness) 0;
    }
  }

  .showAllTimePbs,
  .showAllWordsPbs {
    margin-top: 1rem;
  }

  .topFilters .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    .button {
      width: 100%;
    }
  }

  .miniResultChartWrapper {
    // pointer-events: none;
    z-index: 999;
    display: none;
    height: 15rem;
    background: var(--bg-color);
    width: 45rem;
    position: absolute;
    border-radius: var(--roundness);
    padding: 1rem;
    // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }

  .miniResultChartBg {
    display: none;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
  }

  .profile {
    display: grid;
    gap: 2rem;
    // grid-template-columns:  auto;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "info pbsTime"
      "info pbsWords";

    .pbsWords {
      grid-area: pbsWords;
      display: grid;
      gap: 1rem;
    }

    .pbsTime {
      grid-area: pbsTime;
      display: grid;
      gap: 1rem;
    }

    .pbsWords,
    .pbsTime {
      user-select: none;
      background: var(--sub-alt-color);
      padding: 1rem;
      border-radius: var(--roundness);
      align-content: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr auto;
      justify-items: baseline;
      position: relative;
      .showAllButton {
        height: 100%;
        align-items: center;
        align-content: center;
        display: grid;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;
        border-radius: 0 var(--roundness) var(--roundness) 0;
        color: var(--sub-color);
        &:hover {
          color: var(--bg-color);
        }
      }
      .group {
        justify-self: center;
        display: grid;
        gap: 0.25rem;
        grid-template-areas: "center";
        .quick,
        .fullTest {
          grid-area: center;
        }
        .quick {
          display: grid;
          gap: 0.25rem;
          justify-self: center;
          justify-items: center;
          .test {
            color: var(--sub-color);
          }
          .wpm {
            font-size: 3.5rem;
            line-height: 3.2rem;
          }
          .acc {
            font-size: 1.5rem;
            line-height: 1.3rem;
            // justify-self: end;
            opacity: 0.75;
          }
          .rawcon {
            justify-self: end;
            color: var(--sub-color);
          }
        }

        .fullTest {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0.25rem;
          background: var(--sub-alt-color);
          z-index: 1;
          opacity: 0;
          transition: 0.125s;
          justify-items: center;
          &:hover {
            opacity: 1;
          }
          div:first-child,
          div:last-child {
            grid-column: span 2;
            color: var(--sub-color);
            text-align: center;
          }
          // div:nth-child(3),
          // div:nth-child(5) {
          //   justify-self: end;
          // }
        }
      }
    }

    .details {
      // grid-template-columns: 1fr 2fr;
      grid-area: info;
      display: grid;
      gap: 1rem 2rem;
      background: var(--sub-alt-color);
      padding: 1.5rem;
      border-radius: var(--roundness);
      align-content: center;
      grid-template-columns: 1fr 1fr;
      .avatarAndName {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-items: center;
        .avatars {
          display: grid;
          .placeholderAvatar {
            font-size: 6rem;
            line-height: 6rem;
            margin-left: 0.1rem;
            color: var(--sub-color);
          }
          .avatar {
            height: 6rem;
            aspect-ratio: 1/1;
            width: auto;
          }
          div {
            grid-row: 1/2;
            grid-column: 1/2;
          }
        }
        .name {
          // font-size: 3rem;
          // line-height: 2.5rem;
          font-size: 1rem;
          line-height: 100%;
          width: max-content;
          .bannedIcon {
            margin-left: 0.5rem;
            display: inline-grid;
            font-size: 75%;
            color: var(--error-color);
          }
        }
        .badge {
          width: max-content;
        }
        .joined {
          color: var(--sub-color);
        }
        .badge,
        .joined {
          margin-top: 0.35rem;
        }
      }
      .socials .value {
        display: grid;
        grid-auto-flow: column;
        gap: 0.25rem;
        width: max-content;
        a {
          color: var(--text-color);
          &:hover {
            color: var(--main-color);
          }
        }
      }
      .typingStats {
        display: grid;
        gap: 0.5rem;
        grid-row: span 2;
        align-content: space-between;
        align-self: stretch;
        &.wide {
          grid-column: span 2;
          grid-template-columns: 1fr 1fr;
        }
      }
      .separator {
        width: 0.5rem;
        height: 100%;
        background: var(--bg-color);
        border-radius: var(--roundness);
      }
      .big {
        .value {
          font-size: 1.5rem;
          line-height: 1.2rem;
        }
      }
      .verybig {
        .value {
          font-size: 2rem;
          line-height: 1.9rem;
        }
      }
      .bio,
      .avatarAndName,
      .separator {
        grid-column: span 2;
      }
      .typingStats,
      .socials {
        align-self: end;
      }
      .title {
        font-size: 0.8rem;
        color: var(--sub-color);
      }
    }
    .personalBestTables {
      grid-area: pbs;
    }
  }

  .doublegroup {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    .titleAndTable {
      .title {
        color: var(--sub-color);
      }
    }
  }

  .triplegroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .text {
      align-self: center;
      color: var(--sub-color);
    }
  }

  .group {
    &.noDataError {
      margin: 20rem 0;
      // height: 30rem;
      // line-height: 30rem;
      text-align: center;
    }

    &.aboveHistory {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .exportCSV {
        grid-column: 3/4;
      }
    }

    &.createdDate {
      text-align: center;
      color: var(--sub-color);
    }

    &.personalBestTables {
      .tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    }

    .chart canvas {
      width: 100% !important;
    }

    &.history {
      .active {
        animation: flashHighlight 4s linear 0s 1;
      }

      .loadMoreButton {
        background: var(--sub-alt-color);
        color: var(--text-color);
        text-align: center;
        padding: 0.5rem;
        border-radius: var(--roundness);
        cursor: pointer;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-user-select: none;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 1rem;

        &:hover,
        &:focus {
          color: var(--bg-color);
          background: var(--text-color);
        }
      }
    }

    .title {
      color: var(--sub-color);
    }

    .val {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    .chartjs-render-monitor {
      width: 100% !important;
    }

    &.chart {
      position: relative;

      .above {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        color: var(--sub-color);
        flex-wrap: wrap;

        .group {
          display: flex;
          align-items: center;
        }

        .fas,
        .punc {
          margin-right: 0.25rem;
        }

        .spacer {
          width: 1rem;
        }
      }

      .below {
        text-align: center;
        color: var(--sub-color);
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto 300px;
        align-items: center;
        .text {
          height: min-content;
        }
        .buttons {
          display: grid;
          gap: 0.5rem;
          .smoothing {
            display: grid;
            gap: 0.25rem;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            justify-items: start;
            color: var(--text-color);
            .title {
              color: var(--text-color);
            }
            input[type="range"] {
              grid-column: 1/3;
            }
          }
        }
      }
      .chart {
        height: 400px;
      }
      .chartPreloader {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-shadow: 0 0 3rem black;
      }
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    color: var(--text-color);

    td {
      padding: 0.5rem 0.5rem;
    }

    thead {
      color: var(--sub-color);
      font-size: 0.75rem;
    }

    tbody tr:nth-child(odd) td {
      background: var(--sub-alt-color);
    }

    tbody td:nth-child(1) {
      border-radius: var(--roundness) 0 0 var(--roundness);
    }
    tbody td:last-child {
      border-radius: 0 var(--roundness) var(--roundness) 0;
    }

    td.infoIcons span {
      margin: 0 0.1rem;
    }
    .miniResultChartButton {
      opacity: 0.25;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  #resultEditTags {
    transition: 0.25s;
    &:hover {
      cursor: pointer;
      color: var(--text-color);
      opacity: 1 !important;
    }
  }
}

.pageAccount {
  .group.filterButtons {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .buttonsAndTitle {
      height: fit-content;
      height: -moz-fit-content;
      display: grid;
      gap: 0.25rem;
      color: var(--sub-color);
      line-height: 1rem;
      font-size: 1rem;

      &.testDate .buttons,
      &.languages .buttons,
      &.layouts .buttons,
      &.funbox .buttons,
      &.tags .buttons {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: unset;
      }
    }

    .buttons {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
    }
  }
}

.header-sorted {
  font-weight: bold;
}

.sortable:hover {
  cursor: pointer;
  user-select: none;
  background-color: var(--sub-alt-color);
}
