.signOut {
  font-size: 1rem;
  line-height: 1rem;
  justify-self: end;
  // background: var(--sub-color);
  color: var(--sub-color);
  width: fit-content;
  width: -moz-fit-content;
  padding: 0.5rem;
  border-radius: var(--roundness);
  cursor: pointer;
  transition: 0.25s;
  float: right;

  &:hover {
    color: var(--text-color);
  }

  .fas {
    margin-right: 0.5rem;
  }
}

.pageAccount {
  display: grid;
  gap: 1rem;

  .content {
    display: grid;
    gap: 2rem;
  }

  .sendVerificationEmail {
    cursor: pointer;
  }

  .timePbTable,
  .wordsPbTable {
    .sub {
      opacity: 0.5;
    }
    td {
      text-align: right;
    }
    tbody td:nth-child(1) {
      font-size: 1.5rem;
    }
  }

  .showAllTimePbs,
  .showAllWordsPbs {
    margin-top: 1rem;
  }

  .topFilters .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    .button {
      width: 100%;
    }
  }

  .miniResultChartWrapper {
    // pointer-events: none;
    z-index: 999;
    display: none;
    height: 15rem;
    background: var(--bg-color);
    width: 45rem;
    position: absolute;
    border-radius: var(--roundness);
    padding: 1rem;
    // box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  }

  .miniResultChartBg {
    display: none;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
  }

  .doublegroup {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    .titleAndTable {
      .title {
        color: var(--sub-color);
      }
    }
  }

  .triplegroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .text {
      align-self: center;
      color: var(--sub-color);
    }
  }

  .group {
    &.noDataError {
      margin: 20rem 0;
      // height: 30rem;
      // line-height: 30rem;
      text-align: center;
    }

    &.aboveHistory {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .exportCSV {
        grid-column: 3/4;
      }
    }

    &.createdDate {
      text-align: center;
      color: var(--sub-color);
    }

    &.personalBestTables {
      .tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    }

    &.history {
      .active {
        animation: flashHighlight 4s linear 0s 1;
      }

      .loadMoreButton {
        background: rgba(0, 0, 0, 0.1);
        color: var(--text-color);
        text-align: center;
        padding: 0.5rem;
        border-radius: var(--roundness);
        cursor: pointer;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-user-select: none;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 1rem;

        &:hover,
        &:focus {
          color: var(--bg-color);
          background: var(--text-color);
        }
      }
    }

    .title {
      color: var(--sub-color);
    }

    .val {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    .chartjs-render-monitor {
      width: 100% !important;
    }

    &.chart {
      position: relative;

      .above {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        color: var(--sub-color);
        flex-wrap: wrap;

        .group {
          display: flex;
          align-items: center;
        }

        .fas,
        .punc {
          margin-right: 0.25rem;
        }

        .spacer {
          width: 1rem;
        }
      }

      .below {
        text-align: center;
        color: var(--sub-color);
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto 300px;
        align-items: center;
        .text {
          height: min-content;
        }
        .buttons {
          display: grid;
          gap: 0.5rem;
          .smoothing {
            display: grid;
            gap: 0.25rem;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto auto;
            justify-items: start;
            color: var(--text-color);
            .title {
              color: var(--text-color);
            }
            input[type="range"] {
              grid-column: 1/3;
            }
          }
        }
      }
      .chart {
        height: 400px;
      }
      .chartPreloader {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-shadow: 0 0 3rem black;
      }
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    color: var(--text-color);

    td {
      padding: 0.5rem 0.5rem;
    }

    thead {
      color: var(--sub-color);
      font-size: 0.75rem;
    }

    tbody tr:nth-child(odd) td {
      background: rgba(0, 0, 0, 0.1);
    }

    td.infoIcons span {
      margin: 0 0.1rem;
    }
    .miniResultChartButton {
      opacity: 0.25;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  #resultEditTags {
    transition: 0.25s;
    &:hover {
      cursor: pointer;
      color: var(--text-color);
      opacity: 1 !important;
    }
  }
}

.pageAccount {
  .group.filterButtons {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .buttonsAndTitle {
      height: fit-content;
      height: -moz-fit-content;
      display: grid;
      gap: 0.25rem;
      color: var(--sub-color);
      line-height: 1rem;
      font-size: 1rem;

      &.testDate .buttons,
      &.languages .buttons,
      &.layouts .buttons,
      &.funbox .buttons,
      &.tags .buttons {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: unset;
      }
    }

    .buttons {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;

      .button {
        background: rgba(0, 0, 0, 0.1);
        color: var(--text-color);
        text-align: center;
        padding: 0.5rem;
        border-radius: var(--roundness);
        cursor: pointer;
        transition: 0.25s;
        -webkit-user-select: none;
        display: grid;
        align-content: center;

        &.active {
          background: var(--main-color);
          color: var(--bg-color);
        }

        &:hover {
          color: var(--bg-color);
          background: var(--main-color);
        }
      }
    }
  }
}

.header-sorted {
  font-weight: bold;
}

.sortable:hover {
  cursor: pointer;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.1);
}
