.signOut {
  font-size: 1rem;
  line-height: 1rem;
  justify-self: end;
  color: var(--sub-color);
  width: fit-content;
  width: -moz-fit-content;
  padding: 0.5rem 0 0.5rem 0.5rem;
  border-radius: var(--roundness);
  cursor: pointer;
  transition: 0.25s;
  float: right;

  &:hover {
    color: var(--text-color);
  }

  .fas {
    margin-right: 0.5rem;
  }
}

.pageAccount {
  height: 100%;

  .preloader {
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sendVerificationEmail {
    cursor: pointer;
  }

  .timePbTable,
  .wordsPbTable {
    .sub {
      opacity: 0.5;
    }
    td {
      text-align: right;
    }
    tbody td:nth-child(1) {
      font-size: 1.5rem;
      border-radius: var(--roundness) 0 0 var(--roundness);
    }
    tbody td:last-child {
      border-radius: 0 var(--roundness) var(--roundness) 0;
    }
  }

  .showAllTimePbs,
  .showAllWordsPbs {
    margin-top: 1rem;
  }

  .topFilters .buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    button {
      width: 100%;
    }
  }

  .presetFilterButtons .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .miniResultChartWrapper {
    z-index: 999;
    display: none;
    height: 15rem;
    background: var(--bg-color);
    width: 45rem;
    position: absolute;
    border-radius: var(--roundness);
    padding: 1rem;
  }

  .miniResultChartBg {
    display: none;
    z-index: 998;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
  }

  .doublegroup {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    .titleAndTable {
      .title {
        color: var(--sub-color);
      }
    }
  }

  .triplegroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .text {
      align-self: center;
      color: var(--sub-color);
    }
  }

  .group {
    &.estimatedWordsTyped {
      display: flex;
      align-items: center;
      justify-content: center;
      .title {
        margin-right: 1rem;
      }
    }

    &.resultBatches {
      display: grid;
      grid-template-areas: "bar button" "text text";
      grid-template-columns: 2fr 1fr;
      column-gap: 1rem;
      .title {
        grid-area: title;
        margin-bottom: 0;
      }
      & > .text {
        grid-area: text;
        text-align: center;
      }
      button {
        grid-area: button;
      }
      .leftText,
      button,
      .rightText {
        align-self: center;
      }
      .bars {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 0.25rem 1rem;
      }
      .rightText {
        color: var(--sub-color);
        font-size: 0.8em;
        line-height: 1.25em;
      }
      .bar {
        height: 0.5rem;
        border-radius: var(--roundness);
        background: var(--sub-alt-color);
        position: relative;
        align-self: center;
        .fill {
          transition: width 0.125s;
          height: 100%;
          width: 0%;
          background: var(--main-color);
          border-radius: var(--roundness);
        }

        //not used for now
        .indicator {
          position: absolute;
          width: max-content;
          bottom: 0;
          .line {
            width: 0.1em;
            height: 1.5em;
            background: var(--sub-color);
            border-radius: var(--roundness);
            right: 0;
            position: absolute;
            top: 0;
          }
          .text {
            font-size: 0.5em;
            color: var(--sub-color);
            margin-right: 1em;
          }
        }
      }
    }

    &.noDataError {
      margin: 20rem 0;
      text-align: center;
    }

    &.aboveHistory {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .exportCSV {
        grid-column: 3/4;
      }
    }

    &.createdDate {
      text-align: center;
      color: var(--sub-color);
    }

    &.personalBestTables {
      .tables {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
    }

    .chart canvas {
      width: 100% !important;
    }

    &.history {
      table td {
        -webkit-appearance: unset;
      }
      .active {
        animation: flashHighlight 4s linear 0s 1;
      }

      .loadMoreButton {
        background: var(--sub-alt-color);
        color: var(--text-color);
        text-align: center;
        padding: 0.5rem;
        border-radius: var(--roundness);
        cursor: pointer;
        -webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-user-select: none;
        display: -ms-grid;
        display: grid;
        -ms-flex-line-pack: center;
        align-content: center;
        margin-top: 1rem;

        &:hover,
        &:focus {
          color: var(--bg-color);
          background: var(--text-color);
        }
      }
    }

    .title {
      color: var(--sub-color);
      margin-bottom: 0.5em;
    }

    .val {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    .chartjs-render-monitor {
      width: 100% !important;
    }

    &.chart {
      position: relative;

      .above {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        color: var(--sub-color);
        flex-wrap: wrap;

        .group {
          display: flex;
          align-items: center;
        }

        .fas,
        .punc {
          margin-right: 0.25rem;
        }

        .spacer {
          width: 1rem;
        }
      }

      .below {
        text-align: center;
        color: var(--sub-color);
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto 500px;
        gap: 1rem;
        align-items: center;
        .text {
          height: min-content;
        }
        .buttons {
          font-size: 0.75rem;
          display: grid;
          gap: 0.5rem;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }
      .chart {
        height: 400px;
      }
      .chartPreloader {
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 5rem;
        text-shadow: 0 0 3rem black;
      }
    }
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    color: var(--text-color);

    td {
      padding: 0.5rem 0.5rem;
    }

    thead {
      color: var(--sub-color);
      font-size: 0.75rem;
    }

    tbody tr:nth-child(odd) td {
      background: var(--sub-alt-color);
    }

    tbody td:nth-child(1) {
      border-radius: var(--roundness) 0 0 var(--roundness);
    }
    tbody td:last-child {
      border-radius: 0 var(--roundness) var(--roundness) 0;
    }

    td.infoIcons span {
      margin: 0 0.1rem;
    }
    .miniResultChartButton {
      opacity: 0.25;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  #resultEditTags {
    transition: 0.25s;
    &:hover {
      cursor: pointer;
      color: var(--text-color);
      opacity: 1 !important;
    }
  }
}

.pageAccount {
  .group.presetFilterButtons {
    .buttons.filterBtns {
      .filterPresets {
        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        grid-template-columns: 1fr auto;
        width: 100%;
        gap: 0.5rem;
      }
    }
  }

  .group.filterButtons {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .buttonsAndTitle {
      height: fit-content;
      height: -moz-fit-content;
      display: grid;
      gap: 0.25rem;
      color: var(--sub-color);
      font-size: 1rem;

      &.testDate .buttons,
      &.languages .buttons,
      &.layouts .buttons,
      &.funbox .buttons,
      &.tags .buttons {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-flow: unset;
      }
    }

    .buttons {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
    }
  }

  .profile {
    .details {
      padding-right: 3rem;
    }
    .pbsTime,
    .pbsWords {
      padding-right: 2rem;
    }
  }
}

.headerSorted {
  font-weight: bold;
}

.sortable:hover {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--sub-alt-color);
}
