#caret {
  height: 1.2em;
  background: var(--caret-color);
  animation: caretFlashSmooth 1s infinite;
  position: absolute;
  border-radius: var(--roundness);
  transform-origin: top left;
}

#paceCaret {
  height: 1.2em;
  background: var(--sub-color);
  opacity: 0.5;
  position: absolute;
  border-radius: var(--roundness);
  transform-origin: top left;
}

.tribeCaret {
  height: 1.2em;
  background: var(--sub-alt-color);
  position: absolute;
  border-radius: var(--roundness);
  transform-origin: top left;
  z-index: -1;

  .caretName {
    position: absolute;
    font-size: 0.33em;
    bottom: -1.33em;
    // right: 0.5em;
    right: 0;
    color: var(--sub-color);
    border-radius: calc(var(--roundness) / 2);
    padding: 0.25em 0.5em;
    background: var(--sub-alt-color);
  }

  &.error {
    background: var(--error-color);
    opacity: 0.25;
    .caretName {
      background: var(--error-color);
      color: var(--bg-color);
    }
  }
}

#caret,
#paceCaret,
.tribeCaret {
  &.debug {
    outline: 1px solid white;
    &.hidden {
      opacity: 0.5 !important;
      display: block !important;
    }
  }

  &.off {
    width: 0;
  }

  &.default {
    width: 0.1em;
  }

  &.carrot {
    background-color: transparent;
    background-image: url("/images/caret/carrot.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 0.25em;
  }

  &.banana {
    background-color: transparent;
    background-image: url("/images/caret/banana.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1em;
  }

  &.monkey {
    background-color: transparent;
    background-image: url("/images/caret/monkey.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 1em;
  }

  &.block {
    width: 0.5em;
    border-radius: 0;
    z-index: -1;
    border-radius: 0.05em;
  }

  &.outline {
    @extend #caret, .block;
    animation-name: none;
    background: transparent;
    border: 0.05em solid var(--caret-color);
    border-radius: 0.05em;
  }

  &.underline {
    height: 0.1em;
    width: 0.5em;
  }
}
