#commandLineWrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: grid;
  justify-items: center;
  align-items: start;
  padding: 5rem 2rem;
  grid-template-columns: 1fr;
  transition: background 0.125s;

  #commandInput {
    max-width: 600px;
    width: 100%;
    background: var(--bg-color);
    border-radius: var(--roundness);

    input {
      background: var(--bg-color);
      padding: 1rem;
      color: var(--main-color);
      border: none;
      outline: none;
      font-size: 1rem;
      width: 100%;
      border-radius: var(--roundness);
    }

    .shiftEnter {
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      line-height: 0.75rem;
      color: var(--sub-color);
      text-align: center;
    }
  }

  #commandLine {
    max-width: 600px;
    width: 100%;
    background: var(--bg-color);
    border-radius: var(--roundness);
    outline: 0.25rem solid transparent;
    transition: outline 0.125s;

    .searchicon {
      color: var(--sub-color);
      margin: 1px 1rem 0 1rem;
    }

    input {
      background: var(--bg-color);
      padding: 1rem 1rem 1rem 0;
      color: var(--text-color);
      border: none;
      outline: none;
      font-size: 1rem;
      width: 100%;
      border-radius: var(--roundness);
    }

    .separator {
      background: black;
      width: 100%;
      height: 1px;
      margin-bottom: 0.5rem;
    }

    .listTitle {
      color: var(--text-color);
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
      line-height: 0.75rem;
    }

    .suggestions {
      display: block;
      @extend .ffscroll;
      overflow-y: scroll;
      max-height: calc(100vh - 10rem - 3rem);
      display: grid;
      cursor: pointer;
      user-select: none;

      .entry {
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: var(--text-color);
        display: grid;
        grid-template-columns: auto 1fr;

        div {
          pointer-events: none;
        }

        .textIcon {
          font-weight: 900;
          /* width: 1.25rem; */
          display: inline-block;
          letter-spacing: -0.1rem;
          margin-right: 0.5rem;
          text-align: center;
          width: 1.25em;
          color: var(--sub-color);
        }

        .fas {
          margin-right: 0.5rem;
          color: var(--sub-color);
        }

        &:last-child {
          border-radius: 0 0 var(--roundness) var(--roundness);
        }

        &.activeMouse {
          color: var(--bg-color) !important;
          background: var(--text-color) !important;
          cursor: pointer;
        }

        &.activeKeyboard {
          color: var(--bg-color) !important;
          background: var(--text-color) !important;
        }

        // &:hover {
        //   color: var(--text-color);
        //   background: var(--sub-color);
        //   cursor: pointer;
        // }

        &.withThemeBubbles {
          grid-template-columns: auto 1fr auto;
          .themeBubbles {
            display: grid;
            grid-auto-flow: column;
            gap: 0.5em;
            border-radius: 1em;
            .themeBubble {
              width: 1em;
              height: 1em;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }

  &.noBackground {
    background: none;
    #commandLine {
      outline: 0.25rem solid var(--sub-alt-color);
    }
  }
}
