@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Itim-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Coming Soon";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/ComingSoon-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lalezar";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Lalezar-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Naskh Arabic";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/NotoNaskhArabic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Vazirmatn-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Ubuntu-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("/webfonts/IBMPlexSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/FiraCode-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/webfonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Boon";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/Boon-400.ttf") format("truetype"),
    url("/webfonts/Boon-400.otf") format("opentype");
}

@font-face {
  font-family: "Open Dyslexic";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/OpenDyslexic.otf") format("opentype");
}

@font-face {
  font-family: "Cascadia Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/CascadiaMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Overpass Mono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/OverpassMono-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Hack";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/HackNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "CommitMono";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/webfonts/CommitMono-400-Regular.otf") format("opentype");
}
