footer {
  position: relative;
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  color: var(--sub-color);
  // transition: 0.25s;
  // padding: 0 5px;

  // margin-bottom: 2rem;
  .keyTips {
    transition: 0.125s;
    margin-bottom: 2rem;
    line-height: 1.25rem;
    key {
      margin: 0 0.25rem;
    }
  }

  #supportMeButton {
    &:hover {
      color: var(--text-color);
      cursor: pointer;
    }
  }

  #commandLineMobileButton {
    display: none;
    top: -4rem;
    left: 0;
    position: absolute;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: var(--main-color);
    border-radius: 99rem;
    z-index: 99;
    cursor: pointer;
    color: var(--bg-color);
    transition: 0.25s;
  }

  .leftright {
    -webkit-user-select: none;
    user-select: none;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    .textButton {
      text-decoration: none;
      font-size: 0.75rem;
      line-height: 1rem;
      padding: 0;
    }
    .left {
      text-align: left;
      display: grid;
      grid-auto-flow: column;
      width: -moz-fit-content;
      width: fit-content;
      gap: 1rem;
    }
    .right {
      text-align: right;
      display: grid;
      grid-auto-flow: column;
      width: -moz-fit-content;
      width: fit-content;
      justify-self: right;
      gap: 1rem;
      // align-items: center;
    }
    .left .textButton,
    .right .textButton {
      display: grid;
      grid-auto-flow: column;
      gap: 0.25rem;
      align-items: baseline;
      width: -moz-available;
      width: max-content;
    }
  }

  .currentVersion {
    display: flex;
    #newVersionIndicator {
      margin: 0;
      font-size: unset;
      background-color: var(--main-color);
      border-radius: calc(var(--roundness) / 2);
      color: var(--bg-color);
      text-align: center;
      cursor: pointer;
      transition: 0.125s;
    }
  }

  &.focus {
    .keyTips {
      opacity: 0 !important;
    }
    .textButton {
      opacity: 0 !important;
    }
    #newVersionIndicator {
      opacity: 0 !important;
    }
    #commandLineMobileButton {
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }
}
