// layer order
@layer normalize; /* Normalize stuff */
@layer theme, base, components, properties; /* Tailwind stuff */
@layer vendor; /* Vendor files */
@layer custom-styles; /* scss files */
@layer hidden; /* custom hidden layer */
@layer utilities; /* Tailwind again, make them override scss files */

@layer hidden {
  // custom layer to hide elements without using !important
  // (as long as this layer is higher than custom-styles)
  // this is to fix issues with tailwinds hidden class
  // while still working for scss files
  .hidden {
    display: none;
  }

  // same for invisible
  .invisible {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@layer custom-styles {
  @import "buttons", "fonts", "404", "ads", "account", "animations", "banners",
    "caret", "commandline", "core", "inputs", "keymap", "login", "monkey",
    "nav", "notifications", "popups", "profile", "scroll", "settings",
    "account-settings", "leaderboards", "test", "loading", "friends",
    "media-queries";
}
