input,
textarea {
  outline: none;
  border: none;
  border-radius: var(--roundness);
  background: var(--sub-alt-color);
  color: var(--text-color);
  padding: 0.5em;
  font-size: 1em;
  font-family: var(--font);
  caret-color: var(--main-color);
  line-height: 1.25em;
  &:focus-visible {
    box-shadow: 0 0 0 0.1em var(--bg-color), 0 0 0 0.2em var(--text-color);
  }
}

textarea {
  resize: vertical;
}

input[type="range"] {
  -webkit-appearance: none;
  padding: 0;
  width: 100%;
  height: 1.25em;
  border-radius: var(--roundness);
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 25%;
    height: 1.25em;
    border-radius: var(--roundness);
    background-color: var(--main-color);
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }

  &::-moz-range-thumb {
    -webkit-appearance: none;
    padding: 0;
    border: none;
    width: 25%;
    height: 1.25em;
    border-radius: var(--roundness);
    background-color: var(--main-color);
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
  }
  &:focus-visible {
    box-shadow: 0 0 0 0.15em var(--text-color);
  }
}

input[type="color"] {
  height: 3px; //i dont know why its 3, but safari gods have spoken - 3 makes it work
  opacity: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  pointer-events: none;
}

input:disabled,
textarea:disabled {
  // color: var(--sub-color);
  opacity: 0.33;
}

::-moz-color-swatch {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: 0.15em solid var(--main-color);
  font-family: inherit;
  -webkit-text-fill-color: var(--text-color);
  -webkit-box-shadow: 0 0 0 1000000px var(--sub-alt-color) inset;
  caret-color: var(--text-color);
}

.select2-dropdown {
  background-color: var(--bg-color);
  color: var(--text-color);
  outline: none;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background: var(--sub-alt-color) !important;
  opacity: 0.33;
  cursor: default;
  pointer-events: none;
}

.select2-selection {
  background: var(--sub-alt-color);
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--text-color);
  outline: none;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.select2-container--default .select2-results__option--selected {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above {
  border-color: var(--sub-alt-color);
  background: var(--bg-color);
  color: var(--sub-color);
  border-radius: var(--roundness);
}

.select2-container--default .select2-selection--single {
  color: var(--text-color);
  background: var(--sub-alt-color);
  outline: none;
  border: none;
  height: auto;
  border-radius: var(--roundness);
}

.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background: #5051517a;
}

.select2-selection:focus {
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}
.select2-selection:active {
  height: fit-content;
  height: -moz-fit-content;
  padding: 5px;
  border-radius: var(--roundness);
  color: var(--text-color);
  font: var(--font);
  border: none;
  outline: none;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 35px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--text-color) transparent transparent transparent;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: var(--text-color) transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: var(--sub-alt-color);
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: var(--roundness);
}

.select2-container--default .select2-results__group {
  color: var(--text-color);
}

.select2-container--default .select2-selection--multiple {
  background: var(--sub-alt-color);
  border-radius: var(--roundness);
  color: var(--text-color);
  outline: none;
  border: none;
}

.select2-selection__choice__display {
  color: var(--bg-color);
}

.select2-selection__choice__remove {
  color: var(--main-color) !important;
}

.select2-container .select2-search--inline .select2-search__field {
  margin: 0;
  border-radius: 0;
  font-family: var(--font);
  line-height: 1rem;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: none;
}

.select2-container--default .select2-selection--multiple {
  border: none;
  padding: 0.5rem;
  font-family: var(--font);
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: var(--main-color);
  border: none;
  border-radius: calc(var(--roundness) / 2);
  box-sizing: border-box;
  display: inline-block;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0.5rem;
  padding: 0;
  padding-left: 1.25rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  line-height: 1.5rem;
  border-right: 1px solid var(--bg-color);
  color: var(--bg-color) !important;
  transition: 0.125s;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  background-color: var(--text-color);
}
