#leaderboardsWrapper {
  #leaderboards {
    // max-width: 300px;
    max-width: 1536px;
    width: 100%;
    height: 100%;
    // height: calc(95vh - 5rem);
    overflow-y: auto;
    background: var(--bg-color);
    border-radius: var(--roundness);
    padding: 1rem;
    display: grid;
    gap: 1rem 0;
    grid-template-rows: auto auto;
    grid-template-areas:
      "title buttons"
      "tables tables";
    grid-template-columns: 1fr 1fr;

    .leaderboardsTop {
      width: 200%;
      min-width: 100%;
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr 20rem;
      grid-template-areas:
        "title title buttons"
        "subtitle yesterday buttons";

      .buttons {
        grid-area: buttons;
        .timeRange {
          grid-template-columns: 1fr 1fr;
          .languageSelect {
            grid-column: span 2;
          }
        }
      }
    }

    .mainTitle {
      font-size: 2.5rem;
      grid-area: title;
    }

    .showYesterdayButton {
      grid-area: "yesterday";
      margin-left: 1rem;
      .fas {
        margin-right: 0.3rem;
      }
    }

    .subTitle {
      color: var(--sub-color);
      grid-area: subtitle;
    }

    .title {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
    }

    .tables {
      grid-area: tables;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      font-size: 0.8rem;
      width: 100%;

      .sub {
        opacity: 0.5;
      }

      .alignRight {
        text-align: right;
      }

      .titleAndTable {
        display: grid;
        width: 100%;

        .titleAndButtons {
          display: grid;
          grid-template-columns: 1fr auto;
          .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            // margin-top: .1rem;
            gap: 0.5rem;
            color: var(--sub-color);
            .button {
              padding-left: 1rem;
              padding-right: 1rem;
            }
          }
        }

        .title {
          grid-area: 1/1;
          margin-bottom: 0;
          line-height: 2rem;
        }

        .subtitle {
          grid-area: 1/1;
          align-self: center;
          justify-self: right;
          color: var(--sub-color);
        }
      }

      .leftTableWrapper,
      .rightTableWrapper {
        height: calc(100vh - 14rem);
        @extend .ffscroll;
        overflow-y: scroll;
        overflow-x: auto;
      }

      .leftTableWrapper::-webkit-scrollbar,
      .rightTableWrapper::-webkit-scrollbar {
        height: 5px;
        width: 5px;
      }

      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        .avatarNameBadge {
          display: grid;
          grid-template-columns: 1.25rem max-content auto;
          gap: 0.5rem;
          place-items: center left;
          .avatarPlaceholder {
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1.25rem;
            // background: var(--sub-color);
            color: var(--sub-color);
            // display: grid;
            // place-content: center center;
            border-radius: 100%;
            margin-top: -0.25rem;
          }
          .entryName {
            text-decoration: none;
            color: var(--text-color);
            cursor: pointer;
          }
          .avatarPlaceholder,
          .avatar {
            grid-row: 1/2;
            grid-column: 1/2;
          }
          .badge {
            font-size: 0.6rem;
          }
          .flagsAndBadge {
            display: flex;
            gap: 0.5rem;
            color: var(--sub-color);
            place-items: center;
          }
        }

        tr td:first-child {
          text-align: center;
        }

        tr.me {
          td {
            color: var(--main-color);
            // font-weight: 900;
          }
        }

        td {
          padding: 0.5rem 0.5rem;
        }

        thead {
          color: var(--sub-color);
          font-size: 0.75rem;

          td {
            padding: 0.5rem;
            background: var(--bg-color);
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 99;
          }
        }

        tbody {
          color: var(--text-color);

          tr:nth-child(odd) td {
            background: var(--sub-alt-color);
          }
          td:nth-child(1) {
            border-radius: calc(var(--roundness) / 2) 0 0
              calc(var(--roundness) / 2);
          }
          td:last-child {
            border-radius: 0 calc(var(--roundness) / 2)
              calc(var(--roundness) / 2) 0;
          }
        }

        tfoot {
          td {
            padding: 1rem 0.5rem;
            position: -webkit-sticky;
            position: sticky;
            bottom: -5px;
            background: var(--bg-color);
            color: var(--main-color);
            z-index: 4;
          }
        }

        tr {
          td:first-child {
            padding-left: 1rem;
          }
          td:last-child {
            padding-right: 1rem;
          }
        }
      }
    }

    .buttons {
      .buttonGroup {
        display: grid;
        grid-auto-flow: row;
        gap: 0.5rem;
        grid-auto-columns: 1fr;
        grid-area: buttons;
      }
    }
  }
}
