.pageLoading {
  .preloader {
    text-align: center;
    justify-self: center;
    display: grid;
    .barWrapper {
      justify-content: center;
      display: grid;
      gap: 1rem;
      grid-row: 1;
      grid-column: 1;
      .text {
        height: 1.25em;
      }
      .bar {
        width: 20rem;
        height: 0.5rem;
        background: var(--sub-alt-color);
        border-radius: var(--roundness);
        justify-self: center;
        .fill {
          height: 100%;
          width: 0%;
          background: var(--main-color);
          border-radius: var(--roundness);
          // transition: 1s;
        }
      }
    }
    .icon {
      grid-row: 1;
      grid-column: 1;
      font-size: 2rem;
      color: var(--main-color);
      margin-bottom: 1rem;
    }
  }
}
