.pageLogin {
  display: flex;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  .side {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    grid-template-columns: 1fr;

    input[type="email"],
    input[type="password"],
    input[type="text"] {
      width: 15rem;
    }

    &.login {
      grid-template-areas:
        "title forgotButton"
        "form form";

      .title {
        grid-area: title;
      }

      #forgotPasswordButton {
        grid-area: forgotButton;
        font-size: 0.75rem;
        line-height: 0.75rem;
        margin-bottom: -0.5em;
      }

      form {
        grid-area: form;
      }
    }
  }

  form {
    display: grid;
    gap: 0.5rem;
    width: 100%;
  }

  .preloader {
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    transition: 0.25s;
  }
}
