.pageLogin {
  display: flex;
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;

  .side {
    display: grid;
    gap: 0.5rem;
    justify-content: center;
    grid-template-columns: 1fr;

    input {
      width: 15rem;
    }

    &.login {
      grid-template-areas:
        "title forgotButton"
        "form form";

      .title {
        grid-area: title;
      }

      #forgotPasswordButton {
        grid-area: forgotButton;
        font-size: 0.75rem;
        line-height: 0.75rem;
      }

      form {
        grid-area: form;
      }
    }
    &.register {
      .inputAndIndicator {
        input {
          width: 100%;
        }
        position: relative;
        .checkStatus {
          width: 2.25rem;
          height: 2.25rem;
          position: absolute;
          right: 0;
          top: 0;
          /* background: red; */
          display: grid;
          grid-template-columns: 2.25rem;
          grid-template-rows: 2.25rem;
          place-items: center center;
          cursor: pointer;

          .checking,
          .available,
          .unavailable,
          .taken {
            grid-column: 1/2;
            grid-row: 1/2;
          }
          .checking {
            color: var(--sub-color);
          }
          .available {
            color: var(--main-color);
          }
          .unavailable,
          .taken {
            color: var(--error-color);
          }
        }
      }
    }
  }

  form {
    display: grid;
    gap: 0.5rem;
    width: 100%;
  }

  .preloader {
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    transition: 0.25s;
  }
}
