@use "./media.scss" as *;

@include media-query(orange) {
  .content-grid {
    --content-max-width: 1280px;
  }
  .testActivity {
    --gap-size: 0.2em;
    .daysFull {
      margin-right: 1rem;
    }

    // .activity div,
    // .legend div {
    //   width: 1.6em;
    // }
  }
  .pageLeaderboards {
    .content {
      grid-template-columns: 15rem 1fr;
    }
  }
}
