//this is very overkill for the modern world so dont worry too much about this width
@use "./media.scss" as *;

@include media-query(gray) {
  header {
    gap: 0.25rem;
    nav .textButton {
      padding: 0.5em 0.25em;
    }
  }
}
