#mediaQueryDebug {
  height: 0.5rem;
  width: 100%;
  background: #f44336;
  position: fixed;
  z-index: 99999999;
  top: 0px;
  &::before {
    content: "red";
    padding-top: 0.75rem;
    padding-left: 0.5rem;
    display: block;
    z-index: 99999999;
    position: absolute;
  }
  display: none;
}

body {
  &.mediaQueryDebugLevel1 {
    #mediaQueryDebug {
      display: block;
    }
  }
  &.mediaQueryDebugLevel2 {
    #mediaQueryDebug {
      display: block;
    }
    .content-grid {
      border: 0.1rem dashed var(--main-color);
    }
  }
  &.mediaQueryDebugLevel3 {
    #mediaQueryDebug {
      display: block;
    }
    .content-grid > * {
      border: 0.1rem dashed var(--sub-color);
    }
    .content-grid {
      border: 0.1rem dashed var(--main-color);
    }
  }
}

//media queries based on tailwind breakpoints https://tailwindcss.com/docs/container
@import "media-queries-orange";
@import "media-queries-yellow";
@import "media-queries-green";
@import "media-queries-blue";
@import "media-queries-purple";
@import "media-queries-brown";
@import "media-queries-gray";

@media only screen and (max-width: 1875px) {
  .ad.ad-v {
    display: none;
  }
}

@media only screen and (max-width: 355px) {
  .ad.ad-h-s {
    display: none;
  }
}

@media (hover: none) and (pointer: coarse) {
  #commandLineMobileButton {
    display: block !important;
  }
}

@media (prefers-reduced-motion) {
  body:not(.ignore-reduced-motion)
    *:not(.fa-spin, #backgroundLoader, .preloader) {
    animation: none !important;
    transition: none !important;

    &::after,
    &::before {
      animation: none !important;
      transition: none !important;
    }
  }

  html {
    scroll-behavior: auto !important;
  }
}

@media (hover: none) and (pointer: coarse) {
  #commandLineMobileButton {
    display: grid !important;
  }
}
