@media only screen and (max-width: 1290px) {
  #mediaQueryDebug {
    background: #ffee58;
    &::before {
      content: "yellow";
    }
  }
  #contentWrapper {
    max-width: 1024px;
  }
  #app {
    grid-template-columns: auto 1024px auto;
  }
  .pageSettings {
    .section {
      grid-template-columns: 1.5fr 1fr;
    }
  }
  .pageAccount {
    .group.chart .below {
      grid-template-columns: auto 250px;
      .buttons {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  #leaderboardsWrapper #leaderboards {
    table thead tr td:nth-child(4),
    table tbody tr td:nth-child(4),
    table tfoot tr td:nth-child(4) {
      display: none;
    }
    .mainTitle {
      font-size: 2rem;
    }
  }
}
