@use "./media.scss" as *;

@include media-query(blue) {
  .content-grid {
    --content-max-width: 640px;
  }
  .pageTest {
    #liveStatsTextTop,
    #liveStatsTextBottom {
      font-size: 5rem;
    }
    #result .wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "tribeResults"
        "stats"
        "chart"
        "morestats"
        "bottom"
        "tribeBottom";
      .stats {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "wpm acc";
        justify-items: center;
      }
      .stats.morestats {
        gap: 1rem;
        justify-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
}
@media (pointer: coarse) and (max-width: 778px) {
  #restartTestButton {
    display: block !important;
  }
}
