@use "./media.scss" as *;

@include media-query(green) {
  .content-grid {
    --content-max-width: 768px;
  }
  .pageTest {
    #result .wrapper .stats.morestats {
      display: grid;
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: 1fr 1fr;
    }
  }

  .testActivity {
    --gap-size: 0.1em;
    --font-size: 0.8em;
    .wrapper {
      grid-template-areas:
        "top top"
        "chart chart"
        "month month";
    }
    .days {
      display: none;
    }
    // .activity div,
    // .legend div {
    //   width: 0.9em;
    //   height: 0.9em;
    //   border-radius: 0.2em;
    // }
  }
}
