@media only screen and (max-width: 640px) {
  #mediaQueryDebug {
    background: #7e57c2;
    &::before {
      content: "purple";
    }
  }
  #contentWrapper {
    max-width: 100%;
  }
  header {
    nav {
      .account {
        .text {
          display: none;
        }
      }
    }
    #logo {
      grid-template-columns: 1fr;
      .text {
        display: none;
      }
    }
  }
  footer {
    .leftright {
      grid-template-columns: 1fr 1fr;
      .left {
        width: unset;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      }
    }
  }
}
