@media only screen and (max-width: 1034px) {
  #mediaQueryDebug {
    background: #9ccc65;
    &::before {
      content: "green";
    }
  }
  #contentWrapper {
    max-width: 768px;
  }
  #testConfig {
    font-size: 0.7rem;
    --horizontalPadding: 0.6em;
  }
  header {
    #logo {
      .text {
        font-size: 1.5rem;
        .top {
          display: none;
        }
      }
    }
    nav {
      .textButton.account {
        gap: 0.5em;
        .text {
          display: none;
        }
      }
    }
  }
  footer {
    .leftright {
      .left {
        display: grid;
        grid-template-columns: repeat(4, auto);
      }
      .right {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}
