@use "./media.scss" as *;

@include media-query(blue) {
  .content-grid {
    --content-max-width: 640px;
  }
  .pageTest {
    #liveStatsTextTop,
    #liveStatsTextBottom {
      font-size: 5rem;
    }
    #result .wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        "stats" "chart"
        "morestats";
      .stats {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "wpm acc";
        justify-items: center;
      }
      .stats.morestats {
        gap: 1rem;
        justify-items: start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
  .pageAccountSettings {
    .main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      .tabs {
        padding: 0;
        display: grid;
        grid-auto-flow: row;
        button {
          justify-content: center;
          padding: 1em 0.5em;
        }
      }
    }
  }
}
@media (pointer: coarse) and (max-width: 778px) {
  #restartTestButton {
    display: block !important;
  }
}
