@media only screen and (max-width: 1290px) {
  #mediaQueryDebug {
    background: #ffee58;
    &::before {
      content: "yellow";
    }
  }
  #contentWrapper {
    max-width: 1024px;
  }
  .pageSettings {
    .section {
      grid-template-columns: 1.5fr 1fr;
    }
  }
  .pageAccount {
    .group.chart .below {
      grid-template-columns: auto 250px;
      .buttons {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
