@use "./media.scss" as *;

@include media-query(orange) {
  #mediaQueryDebug {
    background: #ffa726;
    &::before {
      content: "orange";
    }
  }
  .content-grid {
    --content-max-width: 1280px;
  }
  .testActivity {
    --box-size: 1.05em;
    .daysFull {
      margin-right: 1rem;
    }

    // .activity div,
    // .legend div {
    //   width: 1.6em;
    // }
  }
  .pageLeaderboards {
    .content {
      grid-template-columns: 15rem 1fr;
    }
  }
}
