//this is very overkill for the modern world so dont worry too much about this width

@use "./media.scss" as *;

@include media-query(gray) {
  #mediaQueryDebug {
    background: gray;
    &::before {
      content: "gray";
    }
  }
  .pageLeaderboards .content .tableAndUser {
    .titleAndButtons {
      grid-template-columns: 1fr;
      gap: 0.5em;
      .title {
        text-align: right;
      }
    }
    .rawAndConsistency {
      display: none;
    }
  }
  header {
    gap: 0.25rem;
    nav .textButton {
      padding: 0.5em 0.25em;
    }
  }
}
