#menu {
  font-size: 1rem;
  line-height: 1rem;
  color: var(--sub-color);
  display: grid;
  grid-auto-flow: column;
  gap: 0.5rem;
  // margin-bottom: -0.4rem;
  width: fit-content;
  width: -moz-fit-content;

  .icon-button {
    //   .icon {
    //     display: grid;
    //     align-items: center;
    //     justify-items: center;
    //     text-align: center;
    //     width: 1.25rem;
    //     height: 1.25rem;
    //   }
    text-decoration: none;

    .text {
      font-size: 0.65rem;
      line-height: 0.65rem;
      align-self: center;
      margin-left: 0.25rem;
    }

    //   &:hover {
    //     cursor: pointer;
    //     color: var(--main-color);
    //   }
  }

  .separator {
    width: 2px;
    height: 1rem;
    background-color: var(--sub-color);
  }
}

#top.focus #menu .icon-button.discord::after {
  background: transparent;
}

#top.focus #menu {
  color: transparent !important;
}

#top.focus #menu .icon-button {
  color: transparent !important;
}

#top {
  grid-template-areas: "logo menu config";
  line-height: 2.3rem;
  font-size: 2.3rem;
  /* text-align: center; */
  // transition: 0.25s;
  padding: 0 5px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  z-index: 2;
  align-items: center;
  gap: 0.5rem;
  user-select: none;

  .logo {
    // margin-bottom: 0.6rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;

    .icon {
      width: 2.5rem;
      display: grid;
      align-items: center;
      background-color: transparent;
      // margin-bottom: 0.15rem;
      svg path {
        transition: 0.25s;
        fill: var(--main-color);
      }
    }
    .text {
      .top {
        position: absolute;
        left: 0.25rem;
        top: -0.1rem;
        font-size: 0.65rem;
        line-height: 0.65rem;
        color: var(--sub-color);
        transition: 0.25s;
      }
      position: relative;
      font-size: 2rem;
      margin-bottom: 0.4rem;
      font-family: "Lexend Deca";
      transition: 0.25s;
    }
    white-space: nowrap;
    user-select: none;

    .bottom {
      margin-left: -0.15rem;
      color: var(--main-color);
      transition: 0.25s;
      cursor: pointer;
    }
  }

  .config {
    grid-area: config;
    transition: 0.125s;
    .mobileConfig {
      display: none;
      .icon-button {
        display: grid;
        grid-auto-flow: column;
        align-content: center;
        transition: 0.25s;
        margin-right: -1rem;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        border-radius: var(--roundness);
        cursor: pointer;
        color: var(--sub-color);
        &:hover {
          color: var(--text-color);
        }
      }
    }

    .desktopConfig {
      justify-self: right;
      display: grid;
      // grid-auto-flow: row;
      grid-template-rows: 0.7rem 0.7rem 0.7rem;
      grid-gap: 0.2rem;
      // width: min-content;
      // width: -moz-min-content;
      // transition: 0.25s;
      /*   margin-bottom: 0.1rem; */
      justify-items: self-end;

      .group {
        // transition: 0.25s;

        .title {
          color: var(--sub-color);
          font-size: 0.5rem;
          line-height: 0.5rem;
          margin-bottom: 0.15rem;
        }

        .buttons {
          font-size: 0.7rem;
          line-height: 0.7rem;
          display: flex;
        }
        &.disabled {
          pointer-events: none;
          opacity: 0.25;
        }
      }

      .punctuationMode {
        margin-bottom: -0.1rem;
      }

      .numbersMode {
        margin-bottom: -0.1rem;
      }
    }
  }

  .result {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    width: min-content;
    width: -moz-min-content;
    transition: 0.25s;
    grid-column: 3/4;
    grid-row: 1/2;

    .group {
      .title {
        font-size: 0.65rem;
        line-height: 0.65rem;
        color: var(--sub-color);
      }

      .val {
        font-size: 1.7rem;
        line-height: 1.7rem;
        color: var(--main-color);
        transition: 0.25s;
      }
    }
  }

  //top focus
  &.focus {
    color: var(--sub-color) !important;

    .result {
      opacity: 0 !important;
    }

    .icon svg path {
      fill: var(--sub-color) !important;
    }

    .logo .text {
      color: var(--sub-color) !important;
      // opacity: 0 !important;
    }

    .logo .top {
      opacity: 0 !important;
    }

    .config {
      opacity: 0 !important;
    }
  }
}
