#notificationCenter {
  width: 350px;
  z-index: 99999999;
  display: grid;
  gap: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  transition: 0.32s opacity ease-in-out;

  .clearAll.button {
    font-size: 0.75em;
  }
  &.focus .clearAll {
    visibility: hidden;
  }
  &.focus .notif {
    visibility: hidden;
  }
  &.focus .notif.important {
    visibility: visible;
  }
  .history {
    display: grid;
    gap: 1rem;
  }

  .notif {
    --notif-border-color: rgba(0, 77, 148, 0.71);
    --notif-background-color: rgba(0, 77, 148, 0.7);
    --notif-icon-color: rgba(255, 255, 255);

    -webkit-user-select: none;
    user-select: none;

    .icon {
      color: var(--notif-icon-color);
      padding: 1rem 1rem;
      font-size: 1rem;
    }

    .message {
      padding: 1rem 1rem 1rem 0;
      color: #fff;
      font-size: 14px;

      .title {
        color: #fff;
        padding-bottom: 0.25rem;
      }
    }

    border-radius: 12px;
    border: 1px solid var(--notif-border-color);
    background: var(--notif-background-color);
    color: #fff;

    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);

    position: relative;
    display: grid;
    grid-template-columns: min-content auto min-content;

    &.bad {
      --notif-border-color: rgba(241, 90, 34, 0.71);
      --notif-background-color: rgba(138, 46, 12, 0.7);
      --notif-icon-color: rgba(243, 190, 63, 1);
    }

    &.good {
      --notif-border-color: rgba(100, 206, 100, 0.71);
      --notif-background-color: rgba(0, 148, 0, 0.52);
      --notif-icon-color: rgba(255, 255, 255);
    }

    &:hover {
      opacity: 0.9;
      cursor: pointer;
    }
  }
}
