#notificationCenter {
  width: 350px;
  z-index: 99999999;
  display: grid;
  gap: 1rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
  .history {
    display: grid;
    gap: 1rem;
  }
  .notif {
    user-select: none;
    .icon {
      color: var(--sub-color);
      padding: 1rem 1rem;
      align-items: center;
      display: grid;
      font-size: 1.25em;
    }
    .message {
      padding: 1rem 1rem 1rem 0;
      color: var(--text-color);
      .title {
        color: var(--sub-color);
        font-size: 0.75em;
      }
    }

    position: relative;
    background: var(--sub-alt-color);
    color: var(--sub-color);
    display: grid;
    grid-template-columns: min-content auto min-content;
    border-radius: var(--roundness);
    // outline-width: 0.25em;
    // outline-style: solid;
    // outline-color: var(--sub-color);
    box-shadow: 0 0 0 0.2em var(--sub-color);

    &.bad {
      // background-color: var(--error-color);
      box-shadow: 0 0 0 0.2em var(--error-color);
      color: var(--error-color);
      .icon {
        color: var(--error-color);
      }
    }

    &.good {
      box-shadow: 0 0 0 0.2em var(--main-color);
      color: var(--main-color);
      .icon {
        color: var(--main-color);
      }
    }

    &:hover {
      // opacity: .5;
      // box-shadow: 0 0 20px rgba(0,0,0,.25);
      cursor: pointer;
      &::after {
        opacity: 1;
      }
    }
    &::after {
      transition: 0.125s;
      font-family: "Font Awesome 5 Free";
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      font-weight: 900;
      content: "\f00d";
      position: absolute;
      width: 100%;
      height: 100%;
      // color: inherit;
      font-size: 2.5rem;
      display: grid;
      /* align-self: center; */
      align-items: center;
      text-align: center;
      border-radius: var(--roundness);
    }
  }
}
