.popupWrapper,
.modalWrapper {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding: 2rem;
  border: none;
  grid-template-columns: 100%;
  &:focus-visible {
    outline: none;
  }
  &::backdrop {
    background: transparent;
  }
  .modal {
    background: var(--bg-color);
    border-radius: var(--roundness);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    width: 100%;
    max-height: 100%;
    max-width: 300px;
    color: var(--text-color);
    overflow-y: auto;
    @extend .ffscroll;
    box-shadow: 0 0 0 0.2em var(--sub-alt-color);

    & > .title {
      font-size: 1.5rem;
      color: var(--sub-color);
    }

    .inputs.withLabel {
      display: grid;
      grid-template-columns: max-content auto;
      grid-auto-flow: row;
    }

    .inputs {
      div:has(> input[type="range"]) {
        display: grid;
        grid-auto-columns: auto 3rem;
        grid-auto-flow: column;
        gap: 0.5rem;

        span {
          text-align: right;
        }
      }
    }
  }
}

body.darkMode {
  .popupWrapper,
  .modalWrapper {
    .modal .inputs {
      input[type="date"]::-webkit-calendar-picker-indicator,
      input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }
  }
}

#practiseWordsModal {
  .modal {
    max-width: 400px;

    .group {
      width: 100%;
      display: grid;
      .title {
        color: var(--sub-color);
        text-transform: lowercase;
      }
      .sub {
        color: var(--text-color);
        margin-top: 0.25rem;
        margin-bottom: 0.5rem;
      }
      .buttonGroup {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        button {
          flex-grow: 1;
        }
      }
    }

    .text {
      font-size: 1rem;
      color: var(--text-color);
    }
  }
}

#tribeRoomCodePopupWrapper {
  #tribeRoomCodePopup {
    color: var(--sub-color);
    background: var(--bg-color);
    border-radius: var(--roundness);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    width: 300px;

    input {
      width: 100%;
      font-size: 1.5rem;
    }

    .textButton {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 1.5rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

#tribeBrowsePublicRooms {
  .modal {
    color: var(--sub-color);
    background: var(--bg-color);
    border-radius: var(--roundness);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    width: 80vw;
    height: 80vh;
    max-width: 600px;
    grid-template-rows: auto 1fr;

    .title {
      font-size: 1.5rem;
    }

    .error {
      display: grid;
      justify-content: center;
      align-items: center;
      color: var(--text-color);
    }

    .list {
      display: grid;
      gap: 0.5rem;
      height: auto;
      overflow-y: scroll;

      .room {
        display: grid;
        grid-template-columns: 1fr 1fr 3fr 0fr;
        grid-auto-rows: auto;
        width: 100%;
        gap: 0.5rem;
        transition: 0.25s;
        padding: 1rem;
        box-sizing: border-box;
        user-select: none;
        cursor: pointer;
        height: min-content;
        grid-template-areas:
          "name name name chevron"
          "state players config chevron";
        border-radius: var(--roundness);

        .title {
          color: var(--sub-color);
          font-size: 0.8rem;
          opacity: 0.5;
        }
        .value {
          color: var(--sub-color);
          font-size: 0.8rem;
        }

        .name {
          grid-area: name;
          .title {
            font-size: 1rem;
          }
          .value {
            color: var(--text-color);
            font-size: 1.5rem;
          }
        }

        .config {
          grid-area: config;
        }

        .players {
          grid-area: players;
        }

        .state {
          grid-area: state;
        }

        .chevron {
          grid-area: chevron;
          display: flex;
          align-items: center;
          justify-items: center;
          color: var(--sub-color);
          font-size: 2rem;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

#tribeUserSettingsModal {
  .buttons {
    display: grid;
    gap: 1rem;
  }
}

#videoAdPopupWrapper {
  display: flex;
  padding: 2rem;
  #videoAdPopup {
    background: var(--bg-color);
    border-radius: var(--roundness);
    padding: 2rem;
    display: grid;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16/9;
    grid-template-areas: "middle";
    .preloader {
      grid-area: middle;
      display: grid;
      place-items: center center;
      gap: 1rem;
      font-size: 2rem;
      color: var(--main-color);
      height: max-content;
      align-self: center;
    }
    .video {
      grid-area: middle;
    }
  }
}
