.testActivity {
  // width: max-content;
  // justify-self: center;
  background: var(--sub-alt-color);
  border-radius: var(--roundness);
  padding: 1rem;
  display: flex;
  justify-content: center;

  --gap-size: 0.25em;
  --font-size: 1em;

  .wrapper {
    width: 100%;
    max-width: 80em;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 1em 1em;
    grid-template-areas:
      "top top"
      "day chart"
      "empty month";
    // grid-template-areas:
    //   "empty month"
    //   "day chart"
    //   "top top";
    // font-size: 0.75rem;
  }

  .note {
    grid-column: span 2;
    text-align: center;
    font-size: 0.6em;
    color: var(--sub-color);
  }

  .top {
    grid-area: top;
    display: grid;
    grid-template-columns: 15rem 1fr max-content;
    grid-template-areas: "title title legend";
    gap: 1rem;
    &:has(.year) {
      grid-template-areas: "year title legend";
    }
  }

  .ss-main {
    border: 0.2em solid var(--bg-color);
  }

  .yearSelect,
  .months div,
  .days div,
  .daysFull div,
  .legend {
    color: var(--sub-color);
  }

  .year {
    grid-area: year;
    font-size: var(--font-size);
  }

  .title {
    grid-area: title;
    text-align: left;
    font-size: var(--font-size);
    color: var(--sub-color);
    align-self: center;
  }

  .months {
    grid-area: month;
    display: grid;
    grid-template-columns: repeat(53, 1fr);

    div {
      width: 100%;
      text-align: center;
    }
    font-size: var(--font-size);
  }

  .daysFull {
    margin-right: 2rem;
  }

  .days,
  .daysFull {
    grid-area: day;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
    // div {
    // display: grid;
    // overflow: hidden;
    // align-items: center;
    // }
    .text {
      display: flex;
      height: 0;
      align-items: center;
      font-size: var(--font-size);
    }
  }

  .days {
    display: none;
  }

  .nodata {
    grid-area: chart;
  }

  .activity {
    grid-area: chart;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(53, 1fr);
    gap: var(--gap-size);
    // width: max-content;
    // max-width: 100%;

    div {
      &:hover {
        border: 2px solid var(--text-color);
      }
      &[data-level="filler"]:hover {
        border: none;
      }
    }
  }
  .legend {
    grid-area: legend;
    display: flex;
    gap: var(--gap-size);
    justify-content: flex-end;
    align-self: center;
    align-items: center;

    span {
      font-size: var(--font-size);
      &:first-child {
        margin-right: var(--gap-size);
      }
      &:last-child {
        margin-left: var(--gap-size);
      }
    }
  }
  .activity div,
  .legend div {
    width: 100%;
    aspect-ratio: 1;
    border-radius: var(--gap-size);
    place-self: center;

    &[data-level="filler"] {
      background: none;
    }
    &[data-level="0"] {
      background-color: color-mix(
        in srgb,
        var(--bg-color) 50%,
        var(--sub-alt-color)
      );
      background-color: var(--bg-color);
    }
    &[data-level="1"] {
      background-color: color-mix(
        in srgb,
        var(--main-color) 20%,
        var(--sub-alt-color)
      );
    }

    &[data-level="2"] {
      background-color: color-mix(
        in srgb,
        var(--main-color) 50%,
        var(--sub-alt-color)
      );
    }

    &[data-level="3"] {
      background-color: color-mix(
        in srgb,
        var(--main-color) 75%,
        var(--sub-alt-color)
      );
    }

    &[data-level="4"] {
      background-color: var(--main-color);
    }
  }

  .legend div {
    width: 1em;
    height: 1em;
  }
}
