#tribeStateDisplay {
  position: fixed;
  z-index: 999999999999999;
}

.pageTribe {
  height: 100%;
  display: grid;
  align-items: center;
  .tribePage {
    &.preloader {
      display: grid;
      justify-content: center;
      grid-template-rows: 2rem auto auto 1.8rem;
      gap: 1rem;
      justify-items: center;
      .icon {
        font-size: 2rem;
        justify-self: center;
        color: var(--main-color);
      }
      .text {
        text-align: center;
      }
      .subtext {
        font-size: 0.75em;
        color: var(--sub-color);
      }
      .button {
        width: 10rem;
      }
    }
    &.menu {
      user-select: none;
      display: grid;
      grid-template-areas:
        "welcome welcome"
        "mm mm"
        "custom custom";
      grid-template-columns: 3fr 1fr;
      gap: 0.5rem 2rem;
      .welcome {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        grid-area: welcome;
        position: relative;
        .stats {
          justify-self: right;
          color: var(--sub-color);
          text-align: right;
          .num {
            color: var(--text-color);
          }
          .small {
            font-size: 0.65rem;
            // line-height: 1.25rem;
          }
        }
        .statsLoader {
          position: absolute;
          right: 0;
          margin-right: -1.5rem;
          color: var(--sub-color);
        }
        .text {
          font-size: 2.5rem;
          color: var(--text-color);
        }
      }
      .matchmaking {
        grid-area: mm;
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 8rem auto;
        .title,
        .subtitle {
          color: var(--sub-color);
        }
        .buttons {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          gap: 1rem;
          button {
            display: grid;
            gap: 0.25rem;
            height: 100%;
            padding: 1rem;
            .icon {
              font-size: 1.5rem;
              line-height: 1.5rem;
            }
            .subtext {
              opacity: 0.5;
              font-size: 0.75rem;
              line-height: 0.75rem;
            }
          }
        }
        button {
          padding: 0.7rem 0.7rem;
        }
        .leaveMatchmakingButton {
          padding: 0.7rem;
        }
      }
      .customRooms {
        grid-area: custom;
        display: grid;
        gap: 1rem;
        grid-template-rows: auto 8rem;
        .title {
          color: var(--sub-color);
        }
        .buttons {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 1rem;
          button {
            height: 100%;
            padding: 1rem;
            display: grid;
            gap: 0.25rem;
            .icon {
              font-size: 1.5rem;
              line-height: 1.5rem;
            }
            .subtext {
              opacity: 0.5;
              font-size: 0.75rem;
              line-height: 0.75rem;
            }
          }
        }
      }
      #joinByCode {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        button {
          padding: 0.7rem;
          i {
            margin: 0;
          }
        }
        input {
          position: absolute;
          opacity: 0;
          width: 0;
        }
        .customInput {
          color: var(--sub-color);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          .byte {
            transition: 0.125s;
            &.focused {
              color: var(--main-color);
            }
          }
          &.disabled {
            opacity: 0.5;
          }
        }
      }
    }
    &.lobby {
      display: grid;
      grid-template-areas:
        "players players"
        "currentconfig lobbyButtons"
        "chat userlist"
        "invitecode invitecode";
      gap: 2rem;
      grid-template-columns: 3fr 1fr;
      .title {
        color: var(--sub-color);
      }
      .lobbyButtons {
        grid-area: lobbyButtons;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        .startTestButton {
          // background: var(--main-color);
          // color: var(--bg-color);
          padding: 1.4rem 0.4rem;
          &:hover {
            // background: var(--text-color);
          }
        }
        .button {
          &.disabled {
            pointer-events: none;
            opacity: 0.1;
          }
        }
      }
      .visibilityAndName {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        gap: 1rem;

        margin-bottom: 1rem;
        .group .value {
          display: grid;
          grid-template-columns: 1fr auto;
          width: max-content;
          .textButton {
            color: var(--text-color);
            padding: 0.3rem;
            margin-left: 0.1rem;
            font-size: 0.75rem;
            opacity: 0.25;
            &:hover {
              opacity: 1;
            }
            &.disabled {
              opacity: 0.25;
              cursor: default;
              pointer-events: none;
            }
          }
        }
      }
      .currentConfig {
        user-select: none;
        grid-area: currentconfig;
        .groups {
          display: grid;
          // grid-auto-flow: column;
          justify-items: center;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          .group {
            padding: 0.5rem;
            color: var(--text-color);
            .fas,
            .far {
              margin-right: 0.5rem;
              color: var(--main-color);
            }
            &.disabled {
              opacity: 0.5;
              cursor: default;
              pointer-events: none;
            }
          }
        }
        .loadingIndicator {
          display: inline;
          margin-left: 0.5rem;
          color: var(--main-color);
        }
      }

      .tribePlayers {
        grid-area: players;
        td {
          padding: 0 0.5rem;
        }
        tr td:first-child {
          padding-left: 0;
          padding-right: 0.5rem;
        }
        tr td:last-child {
          padding-left: 0.5rem;
          padding-right: 0;
        }
        .player {
          &.failed {
            opacity: 0.25;
          }
          .name {
            color: var(--sub-color);
          }
          .progress {
            width: 100%;
            .barBg {
              width: 100%;
              height: 0.25rem;
              background: rgba(0, 0, 0, 0.1);
              border-radius: var(--roundness);
              .bar {
                height: 0.25rem;
                background: var(--sub-color);
                left: 0;
                border-radius: var(--roundness);
              }
            }
          }
          .stats {
            text-align: right;
            grid-template-columns: auto auto;
            color: var(--sub-color);
            display: flex;
            justify-content: flex-end;
            min-width: 90px;
            .acc {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}

.pageTribe .tribePage.lobby,
.pageTest #result {
  .readyButtonGroup {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    // .button:nth-child(1) {
    //   border-radius: var(--roundness) 0 0 var(--roundness);
    // }
    // .button:nth-child(2) {
    //   border-radius: 0 var(--roundness) var(--roundness) 0;
    // }
  }
  .tribeResultChat {
    display: grid;
    grid-template-areas:
      "chat userlist"
      "invitecode invitecode";
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }
  .title {
    color: var(--sub-color);
  }
  .inviteLink {
    grid-area: invitecode;
    text-align: center;
    color: var(--sub-color);
    display: grid;
    justify-items: center;
    justify-content: center;
    .code {
      width: max-content;
    }
    .title {
      line-height: 1rem;
      font-size: 1rem;
    }
    .text {
      font-size: 2rem;
      line-height: 2rem;
      color: var(--main-color);
      cursor: pointer;
      transition: 0.25s;
    }
    .link {
      font-size: 0.75rem;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        color: var(--text-color);
      }
    }
  }
  .chat {
    grid-area: chat;
    gap: 1rem;
    .messages {
      height: 20rem;
      overflow-y: scroll;
      .systemMessage {
        color: var(--sub-color);
        margin-top: 0.25rem;
        // margin-bottom: 0.15rem;
      }

      .message {
        // margin-top: 0.15rem;
        // margin-bottom: 0.15rem;
        display: flex;
        gap: 0.5rem;
        color: var(--text-color);
        word-break: break-word;
        .text {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          flex-wrap: wrap;
          .imageemoji {
            width: 1.25rem;
            height: 1.25rem;
            background-size: contain;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            &.big {
              width: 2.25rem;
              height: 2.25rem;
            }
          }
          .emoji.big {
            font-size: 2.25rem;
          }
        }
        span.mention {
          background: var(--text-color);
          color: var(--bg-color);
          padding: 0 0.25rem;
        }
        .author {
          word-break: normal;
          color: var(--sub-color);
          &.me {
            color: var(--main-color);
          }
        }
        &.newAuthor {
          margin-top: 0.25rem;
        }
      }
    }
    .input {
      position: relative;
    }
    .input input {
      width: 100%;
      margin: 0.25em 0;
    }
    .whoIsTyping {
      .who {
        font-weight: 900;
      }
      height: 0.75rem;
      font-size: 0.75rem;
      padding: 0.25rem;
      color: var(--sub-color);
    }
  }
  .userlist {
    grid-area: userlist;
    .list {
      max-height: 15rem;
      overflow-y: scroll;
    }
    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--text-color);
      .nameAndIcons {
        display: flex;
        gap: 0.25em;
        align-items: center;
        .avatar {
          --size: 0.91em; //0.9 causes clipping
        }
      }
      .icons {
        display: grid;
        grid-auto-flow: column;
        gap: 0.25rem;
      }
      .icon {
        font-size: 0.75rem;
        display: grid;
        justify-content: center;
        align-content: center;
        opacity: 0.25;
        padding-top: 0.1rem;
        height: 100%;
        transition: 0.25s;
        &.active {
          opacity: 1;
        }
        &.leader {
          cursor: pointer;
        }
      }
      .userSettings {
        transition: 0.25s;
        cursor: pointer;
        &:hover {
          .icon {
            opacity: 1;
          }
        }
      }
      .points {
        opacity: 0.5;
      }
      &.me {
        color: var(--main-color);
      }
      &.afk {
        opacity: 0.25;
      }
    }
  }
}

.pageTest {
  #result {
    #tribeResultBottom {
      grid-area: tribeBottom;
      display: grid;
      grid-template-areas:
        "chat buttons"
        "chat users"
        "inviteLink inviteLink";
      gap: 1rem;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto 1fr;
      .chat {
        grid-area: chat;
      }
      .buttons {
        grid-area: buttons;
        gap: 0.5rem;
        display: grid;
        grid-auto-flow: unset;
        justify-content: unset;
      }
      .userlist {
        grid-area: users;
      }
      .inviteLink {
        grid-area: inviteLink;
      }
    }
    #tribeResults {
      grid-area: tribeResults;
      display: grid;
      .timer {
        justify-self: center;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      table {
        thead {
          color: var(--sub-color);
          font-size: 0.75rem;
          span {
            opacity: 0.5;
          }
        }
        td {
          text-align: right;
          padding: 0 0.5rem;
        }
        tr td:first-child {
          text-align: left;
          padding: 0 0.5rem 0 0;
        }
        tr td:last-child {
          padding: 0 0 0 0.5rem;
        }

        tbody tr {
          color: var(--text-color);
          transition: 0.25s opacity;
          &.me {
            color: var(--main-color);
            .crown .glow {
              box-shadow: 0 0 1rem 0.2rem var(--main-color);
            }
          }
          &.faded {
            opacity: 0.25;
          }
          .progressAndGraph {
            width: 25%;
          }
          .minichart {
            width: 100%;
            max-height: 75px;
            height: 75px;
          }
          .wpm,
          .acc,
          .raw,
          .consistency {
            .miniCrown {
              margin-left: 0.25rem;
            }
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;
          }
          .acc .text,
          .consistency .text,
          .other .text,
          .points .text {
            opacity: 0.5;
          }
          .crown {
            width: 1.25rem;
            .glow {
              width: 5px;
              height: 5px;
              position: absolute;
              margin-left: 0.45rem;
              margin-top: -0.7rem;
              box-shadow: 0 0 1rem 0.2rem var(--text-color);
            }
          }
          .text {
            display: inline-block;
          }
          .miniCrown {
            display: inline-block;
            width: 0;
            font-size: 0.5rem;
            vertical-align: super;
          }
          .pos {
            // margin-right: 0.5rem;
            font-size: 1.4rem;
            display: block;
            line-height: 1.4rem;
            margin-top: 0.4rem;
          }
          .points {
            opacity: 0.5;
            font-size: 0.6rem;
            vertical-align: super;
          }
          .progress {
            width: 100%;
            height: 75px;
            display: grid;
            align-items: center;
            .barBg {
              width: 100%;
              height: 0.25rem;
              background: rgba(0, 0, 0, 0.1);
              border-radius: var(--roundness);
              .bar {
                height: 0.25rem;
                background: var(--sub-color);
                left: 0;
                border-radius: var(--roundness);
              }
            }
          }
          td:nth-child(2) {
            width: 4rem;
          }
          td:nth-child(7) {
            width: 33%;
          }
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  #typingTest .tribeCountdown {
    text-align: center;
    height: 0;
    line-height: 150px;
    z-index: 0;
    position: relative;
    user-select: none;
    pointer-events: none;
    color: var(--main-color);
    pointer-events: none;
    font-size: 4.5rem;
    &.faded {
      opacity: 0.25;
    }
  }
}

.pageTest #typingTest #tribeDeltaBar {
  width: 50%;
  height: 0.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 1rem;
  .behind {
    border-radius: var(--roundness) 0 0 var(--roundness);
    background: var(--sub-alt-color);
    justify-content: end;
    .bar {
      border-radius: var(--roundness) 0 0 var(--roundness);
      background: var(--error-color);
    }
  }
  .ahead {
    border-radius: 0 var(--roundness) var(--roundness) 0;
    background: var(--sub-alt-color);
    justify-content: start;
    .bar {
      border-radius: 0 var(--roundness) var(--roundness) 0;
      background: var(--main-color);
    }
  }
  .ahead,
  .behind {
    overflow: hidden;
    display: flex;
    .bar {
      width: 0;
      height: 100%;
    }
  }
}

.pageTribe .tribeBars {
  grid-area: players;
}

.pageTest #typingTest .tribeBars {
  margin-bottom: 1em;
  font-size: 1rem;
}

.pageTest #typingTest .tribeBars,
.pageTribe .tribeBars {
  td {
    padding: 0 0.5rem;
  }
  tr td:first-child {
    padding-left: 0;
    padding-right: 0.5rem;
  }
  tr td:last-child {
    padding-left: 0.5rem;
    padding-right: 0;
  }
  .player {
    color: var(--sub-color);
    &.faded {
      opacity: 0.25;
    }
    .avatarAndName {
      .avatar {
        --size: 0.91em; //0.9 causes clipping
      }
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
    .name {
      text-overflow: ellipsis;
      max-width: 125px;
      overflow: hidden;
    }
    .progress {
      width: 100%;
      vertical-align: middle;
      .barBg {
        width: 100%;
        height: 0.25rem;
        background: rgba(0, 0, 0, 0.1);
        border-radius: var(--roundness);
        .bar {
          transition: 0.125s background;
          height: 0.25rem;
          background: var(--sub-color);
          left: 0;
          border-radius: var(--roundness);
        }
      }
    }
    .acc {
      text-align: right;
      width: 4ch;
    }
    .wpm {
      text-align: right;
      width: 3ch;
    }
    // .stats {
    //   text-align: right;
    //   grid-template-columns: auto auto;
    //   color: var(--sub-color);
    //   display: flex;
    //   justify-content: flex-end;
    //   min-width: 90px;
    //   .acc {
    //     margin-left: 1rem;
    //   }
    // }
    &.me {
      color: var(--text-color);
      .progress .bar {
        background: var(--main-color);
      }
    }
  }
  &.size125 {
    margin-bottom: 2.25rem;
  }
  &.size15 {
    margin-bottom: 2.5rem;
  }
  &.size2 {
    margin-bottom: 3rem;
  }
  &.size3 {
    margin-bottom: 4rem;
  }
}
