:root {
  --bg-color: #1c1c1c;
  --main-color: #dfd7af;
  --caret-color: #e3e3e3;
  --sub-color: #444444;
  --sub-alt-color: #242424;
  --text-color: #f5f3ed;
  --error-color: #af5f5f;
  --error-extra-color: #4d2113;
  --colorful-error-color: #af5f5f;
  --colorful-error-extra-color: #4d2113;
}
