:root {
  --bg-color: #ffeead;
  --main-color: #96ceb4;
  --caret-color: #ffcc5c;
  --sub-color: #ffcc5c;
  --sub-alt-color: #f7dc8f;
  --text-color: #5b7869;
  --error-color: #ff6f69;
  --error-extra-color: #ff6f69;
  --colorful-error-color: #ff6f69;
  --colorful-error-extra-color: #ff6f69;
}

nav > .textButton:nth-child(1),
nav > .textButton:nth-child(2),
nav > .textButton:nth-child(3),
nav > .textButton:nth-child(4),
nav > .textButton:nth-child(5),
nav > .textButton:nth-child(6) {
  color: #ff6f69;
}
