:root {
  --bg-color: #faf1e4;
  --main-color: #618c56;
  --caret-color: #618c56;
  --sub-color: #c2b8aa;
  --sub-alt-color: #e7dccb;
  --text-color: #3c403b;
  --error-color: #ad4f4e;
  --error-extra-color: #7e3a39;
  --colorful-error-color: #ad4f4e;
  --colorful-error-extra-color: #7e3a39;
}

header #logo .bottom {
  color: #ad4f4e;
}
