:root {
  --bg-color: #030613;
  --main-color: #4fcdb9;
  --caret-color: #4fcdb9;
  --sub-color: #213c53;
  --sub-alt-color: #0a1928;
  --text-color: #e2f1f5;
  --error-color: #e32b2b;
  --error-extra-color: #a62626;
  --colorful-error-color: #e32b2b;
  --colorful-error-extra-color: #a62626;
}
