:root {
  --bg-color: #212121;
  --main-color: #feff04;
  --caret-color: #feff04;
  --sub-color: #5c4a9c;
  --sub-alt-color: #1a1a1a;
  --text-color: #e8e8e8;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;
}
