:root {
  --bg-color: #fff9f2;
  --main-color: #55c6f0;
  --caret-color: #1e107a;
  --sub-color: #1e107a;
  --sub-alt-color: #e5ddd4;
  --text-color: #1d1e1e;
  --error-color: #fb5745;
  --error-extra-color: #b03c30;
  --colorful-error-color: #fb5745;
  --colorful-error-extra-color: #b03c30;
}
