@use "../../styles/media.scss" as *;

.pageAbout {
  gap: 2rem;

  h2 {
    font-size: 1em;
    margin: 0;
    font-weight: unset;
  }

  .created {
    text-align: center;
    color: var(--sub-color);
  }

  .section {
    display: grid;

    &[data-section="credits"] {
      button,
      a {
        margin-left: -0.5em;
        padding-block: 0.25em;
        text-decoration: underline;
      }
    }

    &[data-section="supporters"],
    &[data-section="contributors"] {
      .preloader {
        padding-block: 2em;
        font-size: 2em;
        color: var(--main-color);
        text-align: center;
      }
      .error {
        padding-block: 2em;
        color: var(--sub-color);
        text-align: center;
      }
    }

    .bigtitle {
      font-size: 2em;
      color: var(--sub-color);
      margin-bottom: 0.25em;
    }

    .title {
      color: var(--sub-color);
      margin-bottom: 0.25em;
    }

    .bigtitle,
    .title {
      i {
        margin-right: 0.5em;
      }
    }

    .contactButtons,
    .supportButtons {
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      button,
      .button {
        font-size: 1.5em;
        padding: 1em 0;
      }
    }

    .contactButtons {
      @include media-query(green) {
        grid-template-columns: 1fr 1fr;
      }
      @include media-query(purple) {
        grid-template-columns: 1fr;
      }
    }

    .supportButtons {
      grid-template-columns: 1fr;
    }

    .supporters,
    .contributors {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
      gap: 0.25em;
    }

    p {
      margin: 0;
      padding: 0;
      color: var(--text-color);
      &.small {
        font-size: 0.75em;
        color: var(--sub-color);
        text-align: right;
      }
    }
  }

  .triplegroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    @include media-query(blue) {
      grid-template-columns: 1fr;
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    .label {
      color: var(--sub-color);
    }
    .val {
      font-size: 3em;
    }
    .valSmall {
      font-size: 1.5em;
    }
  }

  .chart {
    margin-top: 1em;
    position: relative;
  }

  .ad {
    margin: 0 auto;
  }

  dl {
    display: contents;
  }

  dt {
    grid-column: 1;
    margin: 0;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
  }

  dd {
    grid-column: 2;
    margin: 0;
  }
}
