@use "../../styles/media.scss" as *;

#ContactModal {
  .modal {
    overflow-y: scroll;
    display: grid;
    gap: 1rem;
    max-width: 900px;

    .text {
      color: var(--text-color);
      span {
        color: var(--error-color);
      }
    }

    .buttons {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

      .button {
        padding: 1rem;
        gap: 1rem;
        display: grid;
        grid-template-areas: "icon textgroup";
        grid-template-columns: auto 1fr;
        text-align: left;
        align-items: center;
        .textGroup {
          grid-area: textgroup;
        }
        .text {
          font-size: 1.5rem;
          line-height: 2rem;
          transition: 0.125s;
        }
        &:hover .text {
          color: var(--bg-color);
        }
        .icon {
          grid-area: icon;
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }
  }

  @include media-query(purple) {
    & {
      .modal {
        .buttons {
          grid-template-columns: 1fr;
          .button {
            padding: 0.5rem 1rem;
            .icon,
            .text {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
