@use "../../styles/media.scss" as *;

#ContactModal {
  .modal {
    max-width: 900px;

    .text {
      span {
        color: var(--error-color);
      }
    }

    .buttons {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));

      @include media-query(purple) {
        grid-template-columns: 1fr;
      }

      a {
        text-align: left;
        padding: 1em;
        gap: 1em;
        place-content: center start;
        place-items: center center;
        font-size: 1.5em;

        @include media-query(purple) {
          font-size: 1em;
        }
      }
    }
  }
}
