@use "../../styles/media.scss" as *;

footer {
  position: relative;
  line-height: 1rem;
  font-size: 0.75rem;
  color: var(--sub-color);

  .keyTips {
    text-align: center;
    transition: 0.125s;
    margin-bottom: 2em;
    line-height: 2;
  }

  #commandLineMobileButton {
    display: none;
    // top: -4rem;
    bottom: 2rem;
    left: 2rem;
    position: fixed;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: var(--main-color);
    border-radius: 99rem;
    z-index: 99;
    cursor: pointer;
    color: var(--bg-color);
    transition: 0.25s;
  }

  .leftright {
    margin: -0.5em;
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .left {
      text-align: left;
      display: flex;
      justify-items: start;
      width: max-content;
    }
    .right {
      text-align: right;
      display: flex;
      justify-self: right;
      width: max-content;
      height: max-content;
      justify-items: end;
    }

    .textButton {
      gap: 0.25em;
    }
  }

  .currentVersion {
    display: flex;
    #newVersionIndicator {
      margin: 0;
      padding: 0 0.25em;
      font-size: unset;
      background-color: var(--main-color);
      border-radius: calc(var(--roundness) / 2);
      color: var(--bg-color);
      text-align: center;
      cursor: pointer;
      transition: 0.125s;
    }
  }

  &.focus {
    .keyTips {
      opacity: 0 !important;
    }
    .textButton {
      opacity: 0 !important;
    }
    #newVersionIndicator {
      opacity: 0 !important;
    }
    #commandLineMobileButton {
      opacity: 0 !important;
      pointer-events: none !important;
    }
  }

  @include media-query(green) {
    & {
      .leftright {
        .left {
          display: grid;
          grid-template-columns: repeat(4, auto);
        }
        .right {
          display: grid;
          grid-template-columns: 1fr;
        }
      }
    }
  }

  @include media-query(purple) {
    & {
      .leftright {
        grid-template-columns: 1fr 1fr;
        .left {
          width: unset;
          grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        }
      }
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  #commandLineMobileButton {
    display: block !important;
  }
}
