<!DOCTYPE html>
<html lang="en">
  <%= compilation.assets["html/head.html"].source() %>

  <body>
    <%= compilation.assets["html/warnings.html"].source() %>
    <div id="fpsCounter" class="hidden"></div>
    <div class="customBackground"></div>
    <div id="backgroundLoader" style="display: none"></div>
    <div id="bannerCenter" class="focus"></div>
    <div id="notificationCenter">
      <div class="clearAll button invisible" style="display: none">
        <i class="fas fa-times"></i>
        Clear all
      </div>
      <div class="history"></div>
    </div>
    <div id="timerWrapper">
      <div id="timer" class="timerMain"></div>
    </div>
    <div id="popups">
      <%= compilation.assets["html/popups.html"].source() %>
    </div>
    <!-- <div id="div-gpt-ad-mkt-0" style="height: 100vh"></div> -->
    <div id="app" class="focus">
      <div>
        <div id="ad-vertical-left-wrapper" class="ad advertisement ad-v focus">
          <div class="icon"><i class="fas fa-ad"></i></div>
          <div id="ad-vertical-left"></div>
        </div>
      </div>
      <div id="centerContent" class="hidden">
        <%= compilation.assets["html/header.html"].source() %>
        <main style="height: 100%">
          <%= compilation.assets["html/pages/loading.html"].source() %> <%=
          compilation.assets["html/pages/test.html"].source() %> <%=
          compilation.assets["html/pages/about.html"].source() %> <%=
          compilation.assets["html/pages/settings.html"].source() %> <%=
          compilation.assets["html/pages/login.html"].source() %> <%=
          compilation.assets["html/pages/account.html"].source() %> <%=
          compilation.assets["html/pages/profile.html"].source() %> <%=
          compilation.assets["html/pages/404.html"].source() %>
        </main>

        <%= compilation.assets["html/footer.html"].source() %>

        <div id="ad-footer-wrapper" class="ad advertisement ad-h focus">
          <div class="icon"><i class="fas fa-ad"></i></div>
          <div id="ad-footer"></div>
        </div>
        <div id="ad-footer-small-wrapper" class="ad advertisement ad-h-s focus">
          <div class="icon small"><i class="fas fa-ad"></i></div>
          <div id="ad-footer-small"></div>
        </div>
      </div>
      <div>
        <div id="ad-vertical-right-wrapper" class="ad advertisement ad-v focus">
          <div class="icon"><i class="fas fa-ad"></i></div>
          <div id="ad-vertical-right"></div>
        </div>
      </div>
    </div>
    <script src="/./js/jquery-3.7.1.min.js"></script>
    <script src="/./js/jquery.color.min.js"></script>
    <script src="/./js/easing-1.4.1.min.js"></script>
    <script src="/./js/html2canvas.min.js"></script>
    <script src="/./js/select2.min.js"></script>
    <script
      src="https://www.google.com/recaptcha/api.js?render=explicit"
      async
      defer
    ></script>
    <link rel="stylesheet" href="/./themes/serika_dark.css" id="currentTheme" />
    <link rel="stylesheet" href="" id="funBoxTheme" />
    <link rel="stylesheet" href="" id="globalFunBoxTheme" type="text/css" />
  </body>
</html>
