<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy | CharaTyping</title>
    <!-- <link rel="stylesheet" href="css/fa.css" /> -->
    <link rel="stylesheet" href="css/balloon.css" />
    <link rel="stylesheet" href="themes/serika_dark.css" id="currentTheme" />
    <link rel="stylesheet" href="" id="funBoxTheme" />
    <link id="favicon" rel="shortcut icon" href="images/fav.png" />
    <link rel="shortcut icon" href="images/fav.png" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
    <meta name="name" content="CharaTyping" />
    <meta name="image" content="https://charatyping.com/mtsocial.png" />
    <meta
      name="description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta
      name="keywords"
      content="typing, test, typing-test, typing test, monkey-type, charatyping, monkey type, monkey-types, charatypings, monkey types, types, monkey, type, miodec, wpm, words per minute, typing website, minimalistic, custom typing test, customizable, customisable, themes, random words, smooth caret, smooth, new, new typing site, new typing website, minimalist typing website, minimalistic typing website, minimalist typing test"
    />
    <meta name="author" content="Miodec" />
    <meta property="og:title" content="CharaTyping" />
    <meta property="og:url" content="https://charatyping.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta property="og:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="theme-color" content="#e2b714" id="metaThemeColor" />
    <meta name="twitter:title" content="CharaTyping" />
    <meta name="twitter:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <style>
      #top {
        font-size: 2.5rem;
      }

      #middle {
        color: var(--text-color);
      }

      h1 {
        font-weight: unset;
        color: var(--main-color);
        font-size: 2rem;
        margin-top: 3rem;
      }

      body {
        justify-content: center;
        display: flex;
      }
    </style>
  </head>

  <body>
    <div id="centerContent">
      <div id="top">
        <div class="logo">
          <div class="text">
            <div class="top">powered by monkeytype.com</div>
            charatyping
            <span style="color: var(--main-color)">Privacy Policy</span>
          </div>
        </div>
      </div>
      <div id="middle">
        <p>
          <!-- make sure to update this date every time the policy is changed -->
        </p>

        <p>Effective date: September 8, 2021</p>
        <p>
          Thanks for trusting CharaTyping ('CharaTyping', 'we', 'us', 'our')
          with your personal information! We take our responsibility to you very
          seriously, and so this Privacy Statement describes how we handle your
          data.
        </p>
        <p>
          This Privacy Statement applies to all websites we own and operate and
          to all services we provide (collectively, the 'Services'). So...PLEASE
          READ THIS PRIVACY STATEMENT CAREFULLY. By using the Services, you are
          expressly and voluntarily accepting the terms and conditions of this
          Privacy Statement and our Terms of Service, which include allowing us
          to process information about you.
        </p>
        <p>
          Under this Privacy Statement, we are the data controller responsible
          for processing your personal information. Our contact information
          appears at the end of this Privacy Statement.
        </p>
        <p>Table of Contents</p>
        <!-- The last three internal links are redunant because the anchor stops at the same location but gives more context to the user when they are viewing the table of contents -->
        <ul>
          <li><a href="#Data_Collection">What data do we collect?</a></li>
          <li>
            <a href="#How_is_Data_Collected">How do we collect your data?</a>
          </li>
          <li><a href="#Data_Usage">How will we use your data?</a></li>
          <li><a href="#Data_Storage">How do we store your data?</a></li>
          <li>
            <a href="#Data_Protection_Rights">
              What are your data protection rights?
            </a>
          </li>
          <li><a href="#Log_Data">What log data do we collect?</a></li>
          <li>
            <a href="#Advertisements">Advertisements</a>
          </li>
          <li><a href="#Cookies">What are cookies?</a></li>
          <li><a href="#Usage_of_Cookies">How do we use cookies?</a></li>
          <li>
            <a href="#Types_of_Cookies_Used">
              What types of cookies do we use?
            </a>
          </li>
          <li><a href="#Managing_Cookies">How to manage your cookies</a></li>
          <li>
            <a href="#External_Websites">Privacy policies of other websites</a>
          </li>
          <li>
            <a href="#Privacy_Policy_Modifications">
              Changes to our privacy policy
            </a>
          </li>
          <li><a href="#Contact_Info">How to contact us</a></li>
        </ul>

        <h1 id="Data_Collection">What data do we collect?</h1>
        <p>CharaTyping collects the following data:</p>
        <ul>
          <li>Email</li>
          <li>Username</li>
          <li>Information about each typing test</li>
          <li>Your currently active settings</li>
          <li>How many typing tests you've started and completed</li>
          <li>How long you've been typing on the website</li>
        </ul>

        <h1 id="How_is_Data_Collected">How do we collect your data?</h1>

        <p>
          You directly provide most of the data we collect. We collect data and
          process data when you:
        </p>
        <ul>
          <li>Create an account</li>
          <li>Complete a typing test</li>
          <li>Change settings on the website</li>
        </ul>

        <h1 id="Data_Usage">How will we use your data?</h1>
        <p>CharaTyping collects your data so that we can:</p>

        <ul>
          <li>
            Allow you to view result history of previous tests you completed
          </li>
          <li>
            Save results from tests you take and show you statistics based on
            them
          </li>
          <li>Remember your settings</li>
          <li>Display leaderboards</li>
        </ul>

        <h1 id="Data_Storage">How do we store your data?</h1>
        <p>CharaTyping securely stores your data using MongoDB.</p>

        <h1 id="Data_Protection_Rights">
          What are your data protection rights?
        </h1>
        <p>
          CharaTyping would like to make sure you are fully aware of all of your
          data protection rights. Every user is entitled to the following:
        </p>
        <ul>
          <li>
            The right to access – You have the right to request CharaTyping for
            copies of your personal data. We may limit the number of times this
            request can be made to depending on the size of the request.
          </li>
          <li>
            The right to rectification – You have the right to request that
            CharaTyping correct any information you believe is inaccurate. You
            also have the right to request CharaTyping to complete the
            information you believe is incomplete.
          </li>
          <li>
            The right to erasure – You have the right to request that
            CharaTyping erase your personal data, under certain conditions.
          </li>
          <li>
            The right to restrict processing – You have the right to request
            that CharaTyping restrict the processing of your personal data,
            under certain conditions.
          </li>
          <li>
            The right to object to processing – You have the right to object to
            CharaTyping processing of your personal data, under certain
            conditions.
          </li>
          <li>
            The right to data portability – You have the right to request that
            CharaTyping transfer the data that we have collected to another
            organization, or directly to you, under certain conditions.
          </li>
        </ul>
        <!-- <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: jack@charatyping.com</p> -->

        <h1 id="Log_Data">What log data do we collect?</h1>
        <p>
          Like most websites, CharaTyping collects information that your browser
          sends whenever you visit the website. This data may include internet
          protocol (IP) addresses, browser type, Internet Service Provider
          (ISP), date and time stamp, referring/exit pages, and time spent on
          each page.
          <b>
            THIS DATA DOES NOT CONTAIN ANY PERSONALLY IDENTIFIABLE INFORMATION.
          </b>
          We use this information for analyzing trends, administering the site,
          tracking users' movement on the website, and gathering demographic
          information.
        </p>
        <p>In our case, this service is provided by Google Analytics.</p>

        <h1 id="Advertisements">Advertisements</h1>
        <p>
          <i>
            Advertisements on CharaTyping are optional. This section only
            applies to you if you've have not disabled them.
          </i>
        </p>
        <p>
          All the ads served by us come through a third-party advertising
          company, Enthusiast Gaming. When you first load our website, before
          any ads are displayed, you are presented with a consent form (from a
          "Content Management Platform", or CMP).
        </p>
        <p>
          Depending on the consent you provide in this form, various pieces of
          information may be used in order to provide advertisements on this
          website, other sites, and other forms of media about goods and
          services that may be of interest to you. This information is collected
          from you through the use of cookies, and you can withdraw your consent
          at any time by deleting the cookies from your Internet browser. Once
          deleted, the consent form from the CMP will be displayed to you again
          when you visit next time.
        </p>
        <p>
          The CMP that we use belongs to Quantcast (you can see it here listed
          on the website of the Interactive Advertising Bureau (IAB), an
          organization that develops industry standards, conducts research, and
          provides legal support for the online advertising industry). If you
          previously provided consent using Quantcast's CMP (such as on a
          different website that also uses it), those consent preferences will
          be used by us, and you may not see the consent form when you load our
          website. If at any time you are unsure of your consent preferences
          with regards to our advertisements, we recommend deleting your
          browser's cookies, or heading to the "Update cookie preferences"
          section of the settings page.
        </p>

        <h1 id="Cookies">What are cookies?</h1>
        <p>
          Cookies are text files placed on your computer to collect standard
          Internet log information and visitor behavior information. When you
          visit our websites, we may collect information from you automatically
          through cookies or similar technology.
        </p>
        <p>
          For further information, visit
          <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">
            www.wikipedia.org/wiki/HTTP_cookie
          </a>
        </p>

        <h1 id="Usage_of_Cookies">How do we use cookies?</h1>
        <p>
          CharaTyping uses cookies in a range of ways to improve your experience
          on our website, including:
        </p>
        <ul>
          <li>Keeping you signed in</li>
          <li>Remembering your active settings</li>
          <li>Remembering your active tags</li>
          <li>Traffic analysis</li>
          <li>Advertisement purposes</li>
        </ul>
        <h1 id="Types_of_Cookies_Used">What types of cookies do we use?</h1>
        <p>
          There are a number of different types of cookies; however, our website
          uses functionality cookies. CharaTyping uses these cookies so we
          recognize you on our website and remember your previously selected
          settings.
        </p>
        <h1 id="Managing_Cookies">How to manage your cookies</h1>
        <p>
          You can set your browser not to accept cookies, and the above website
          tells you how to remove cookies from your browser. However, in a few
          cases, some of our website features may behave unexpectedly or fail to
          function as a result.
        </p>
        <h1 id="External_Websites">Privacy policies of other websites</h1>
        <p>
          CharaTyping contains links to other external websites.
          <b>
            <u>
              Our privacy policy only applies to our website, so if you click on
              a link to another website, you should read their privacy policy.
            </u>
          </b>
        </p>

        <h1 id="Privacy_Policy_Modifications">Changes to our privacy policy</h1>
        <p>
          CharaTyping keeps its privacy policy under regular review and places
          any updates on this web page. The CharaTyping privacy policy may be
          subject to change at any given time without notice. This privacy
          policy was last updated on 27 September 2022.
        </p>
        <!-- TODO: add way to view when file was last committed to using the GitHub api-->

        <h1 id="Contact_Info">How to contact us</h1>
        <p>
          If you have any questions about CharaTyping’s privacy policy, the data
          we hold on you, or you would like to exercise one of your data
          protection rights, please do not hesitate to contact us.
        </p>
        <p>
          General inquiries:
          <a
            href="mailto: no-reply@charatyping.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            no-reply@charatyping.com
          </a>
        </p>

        Discord:
        <span
          aria-label="Click To Copy"
          data-balloon-pos="up"
          onclick="copyUserName()"
        >
          huyhuyhuy#0519
        </span>
      </div>
    </div>
  </body>
  <script defer>
    function copyUserName() {
      if (true) {
        navigator.clipboard.writeText("huyhuyhuy#0519");
        alert("Copied To Clipboard!");
      } else {
        alert("Unable to copy username");
      }
    }

    document.querySelector("#top").addEventListener("click", () => {
      window.location = "/";
    });
  </script>
</html>
