<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Security Policy | CharaTyping</title>
    <!-- <link rel="stylesheet" href="css/fa.css" /> -->
    <link rel="stylesheet" href="css/balloon.css" />
    <link rel="stylesheet" href="themes/serika_dark.css" id="currentTheme" />
    <link rel="stylesheet" href="" id="funBoxTheme" />
    <link id="favicon" rel="shortcut icon" href="images/fav.png" />
    <link rel="shortcut icon" href="images/fav.png" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
    <meta name="name" content="CharaTyping" />
    <meta name="image" content="https://charatyping.com/mtsocial.png" />
    <meta
      name="description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta
      name="keywords"
      content="typing, test, typing-test, typing test, chara-typing, charatyping, chara type, chara-types, charatypings, chara types, types, charachorder, type, miodec, wpm, words per minute, typing website, minimalistic, custom typing test, customizable, customisable, themes, random words, smooth caret, smooth, new, new typing site, new typing website, minimalist typing website, minimalistic typing website, minimalist typing test"
    />
    <meta name="author" content="Miodec" />
    <meta property="og:title" content="CharaTyping" />
    <meta property="og:url" content="https://charatyping.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta property="og:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="theme-color" content="#e2b714" id="metaThemeColor" />
    <meta name="twitter:title" content="CharaTyping" />
    <meta name="twitter:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <style>
      #top {
        font-size: 2.5rem;
      }

      #middle {
        color: var(--text-color);
      }

      #centerContent {
        align-items: flex-start;
      }

      h1 {
        font-weight: unset;
        color: var(--main-color);
        font-size: 2rem;
        margin-top: 3rem;
      }

      body {
        justify-content: center;
        display: flex;
      }
    </style>
  </head>

  <body>
    <div id="centerContent">
      <div id="top">
        <div class="logo">
          <div class="text">
            <div class="top">powered by monkeytype.com</div>
            charatyping
            <span style="color: var(--main-color)">Security Policy</span>
          </div>
        </div>
      </div>
      <div id="middle">
        <p>
          We take the security and integrity of CharaTyping very seriously. If
          you have found a vulnerability, please report it
          <abbr title="As Soon As Possible">ASAP</abbr>
          so we can quickly remediate the issue.
        </p>
        <p>Table of Contents</p>
        <!-- The last three internal links are redunant but give more context to the user when viewing the table of contents -->
        <ul>
          <li>
            <a href="#Vulnerability_Disclosure">
              How to Disclose a Vulnerability
            </a>
          </li>
          <li><a href="#Submission_Guidelines">Submission Guidelines</a></li>
        </ul>

        <h1 id="Vulnerability_Disclosure">How to Disclose a Vulnerability</h1>
        <p>
          For vulnerabilities that impact the confidentiality, integrity, and
          availability of CharaTyping services, please send your disclosure via
          (1)
          <span style="display: inline-flex">
            <a href="mailto:no-reply@charatyping.com">email</a>
            ,
          </span>
          or (2) ping
          <span
            aria-label="Click To Copy"
            data-balloon-pos="up"
            onclick="copyUserName()"
          >
            Miodec#1512
          </span>
          on the
          <a href="https://www.discord.gg/charatyping">
            CharaTyping Discord server in the #development channel
          </a>
          and he can discuss the situation with you further in private. For
          non-security related platform bugs, follow the bug submission
          <span style="display: inline-flex">
            <a
              href="https://github.com/huydinhle/monkeytype#bug-report-or-feature-request"
            >
              guidelines
            </a>
            .
          </span>
          Include as much detail as possible to ensure reproducibility. At a
          minimum, vulnerability disclosures should include:
        </p>
        <ul>
          <li>Vulnerability Description</li>
          <li>Proof of Concept</li>
          <li>Impact</li>
          <li>Screenshots or Proof</li>
        </ul>

        <h1 id="Submission_Guidelines">Submission Guidelines</h1>
        <p>
          Do not engage in activities that might cause a denial of service
          condition, create significant strains on critical resources, or
          negatively impact users of the site outside of test accounts.
        </p>
      </div>
    </div>
  </body>
  <script defer>
    function copyUserName() {
      if (true) {
        navigator.clipboard.writeText("Miodec#1512");
        alert("Copied To Clipboard!");
      } else {
        alert("Unable to copy username");
      }
    }

    document.querySelector("#top").addEventListener("click", () => {
      window.location = "/";
    });
  </script>
</html>
