<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Service | CharaTyping</title>
    <!-- <link rel="stylesheet" href="css/fa.css" /> -->
    <link rel="stylesheet" href="css/balloon.css" />
    <link rel="stylesheet" href="themes/serika_dark.css" id="currentTheme" />
    <link rel="stylesheet" href="" id="funBoxTheme" />
    <link id="favicon" rel="shortcut icon" href="images/fav.png" />
    <link rel="shortcut icon" href="images/fav.png" />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[css] %>" />
    <% } %>
    <meta name="name" content="CharaTyping" />
    <meta name="image" content="https://charatyping.com/mtsocial.png" />
    <meta
      name="description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta
      name="keywords"
      content="typing, test, typing-test, typing test, monkey-type, charatyping, monkey type, monkey-types, charatypings, monkey types, types, monkey, type, miodec, wpm, words per minute, typing website, minimalistic, custom typing test, customizable, customisable, themes, random words, smooth caret, smooth, new, new typing site, new typing website, minimalist typing website, minimalistic typing website, minimalist typing test"
    />
    <meta name="author" content="Miodec" />
    <meta property="og:title" content="CharaTyping" />
    <meta property="og:url" content="https://charatyping.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="A minimalistic, customisable typing website. Test yourself in various modes, track your progress and improve your typing speed."
    />
    <meta property="og:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="theme-color" content="#e2b714" id="metaThemeColor" />
    <meta name="twitter:title" content="CharaTyping" />
    <meta name="twitter:image" content="https://charatyping.com/mtsocial.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <style>
      #top {
        font-size: 2.5rem;
      }

      #middle {
        color: var(--text-color);
      }

      h1 {
        font-weight: unset;
        color: var(--main-color);
        font-size: 2rem;
        margin-top: 3rem;
      }

      body {
        justify-content: center;
        display: flex;
      }
    </style>
  </head>

  <body>
    <div id="centerContent">
      <div id="top">
        <div class="logo">
          <div class="text">
            <div class="top">powered by monkeytype</div>
            charatyping
            <span style="color: var(--main-color)">Terms of Service</span>
          </div>
        </div>
      </div>
      <div id="middle">
        <!-- make sure to update this date every time the tos is changed -->
        <p>These terms of service were last updated on June 19, 2022.</p>
        <h1>Agreement</h1>
        <p>
          By accessing this Website, accessible from charatyping.com, you are
          agreeing to be bound by these Website Terms of Service and agree that
          you are responsible for the agreement in accordance with any
          applicable local laws.
          <strong>
            IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS OF THIS
            AGREEMENT, YOU ARE NOT PERMITTED TO ACCESS OR USE OUR SERVICES.
          </strong>
        </p>

        <h1>Limitations</h1>
        <p>
          You are responsible for your account's security and all activities on
          your account. You must not, in the use of this site, violate any
          applicable laws, including, without limitation, copyright laws, or any
          other laws regarding the security of your personal data, or otherwise
          misuse this site.
        </p>
        <p>
          CharaTyping reserves the right to remove or disable any account or any
          other content on this site at any time for any reason, without prior
          notice to you, if we believe that you have violated this agreement.
        </p>
        <p>
          You agree that you will not upload, post, host, or transmit any
          content that:
        </p>
        <ol>
          <li>is unlawful or promotes unlawful activities;</li>
          <li>is or contains sexually obscene content;</li>
          <li>is libelous, defamatory, or fraudulent;</li>
          <li>is discriminatory or abusive toward any individual or group;</li>
          <li>
            is degrading to others on the basis of gender, race, class,
            ethnicity, national origin, religion, sexual preference,
            orientation, or identity, disability, or other classification, or
            otherwise represents or condones content that: is hate speech,
            discriminating, threatening, or pornographic; incites violence; or
            contains nudity or graphic or gratuitous violence;
          </li>
          <li>
            violates any person's right to privacy or publicity, or otherwise
            solicits, collects, or publishes data, including personal
            information and login information, about other Users without consent
            or for unlawful purposes in violation of any applicable
            international, federal, state, or local law, statute, ordinance, or
            regulation; or
          </li>
          <li>
            contains or installs any active malware or exploits/uses our
            platform for exploit delivery (such as part of a command or control
            system); or infringes on any proprietary right of any party,
            including patent, trademark, trade secret, copyright, right of
            publicity, or other rights.
          </li>
        </ol>

        <p>While using the Services, you agree that you will not:</p>
        <ol>
          <li>
            harass, abuse, threaten, or incite violence towards any individual
            or group, including other Users and CharaTyping contributors;
          </li>
          <li>
            use our servers for any form of excessive automated bulk activity
            (e.g., spamming), or rely on any other form of unsolicited
            advertising or solicitation through our servers or Services;
          </li>
          <li>
            attempt to disrupt or tamper with our servers in ways that could a)
            harm our Website or Services or b) place undue burden on our
            servers;
          </li>
          <li>access the Services in ways that exceed your authorization;</li>
          <li>
            falsely impersonate any person or entity, including any of our
            contributors, misrepresent your identity or the site's purpose, or
            falsely associate yourself with CharaTyping;
          </li>
          <li>
            violate the privacy of any third party, such as by posting another
            person's personal information without their consent;
          </li>
          <li>
            access or attempt to access any service on the Services by any means
            other than as permitted in this Agreement, or operating the Services
            on any computers or accounts which you do not have permission to
            operate;
          </li>
          <li>
            facilitate or encourage any violations of this Agreement or
            interfere with the operation, appearance, security, or functionality
            of the Services; or
          </li>
          <li>use the Services in any manner that is harmful to minors.</li>
        </ol>
        <p>
          Without limiting the foregoing, you will not transmit or post any
          content anywhere on the Services that violates any laws. CharaTyping
          absolutely does not tolerate engaging in activity that significantly
          harms our Users. We will resolve disputes in favor of protecting our
          Users as a whole.
        </p>
        <h1>Privacy Policy</h1>
        If you use our Services, you must abide by our Privacy Policy. You
        acknowledge that you have read our
        <a
          href="https://charatyping.com/privacy-policy"
          target="_blank"
          style="margin-right: 0.5rem"
        >
          Privacy Policy
        </a>
        and understand that it sets forth how we collect, use, and store your
        information. If you do not agree with our Privacy Statement, then you
        must stop using the Services immediately. Any person, entity, or service
        collecting data from the Services must comply with our Privacy
        Statement. Misuse of any User's Personal Information is prohibited. If
        you collect any Personal Information from a User, you agree that you
        will only use the Personal Information you gather for the purpose for
        which the User has authorized it. You agree that you will reasonably
        secure any Personal Information you have gathered from the Services, and
        you will respond promptly to complaints, removal requests, and 'do not
        contact' requests from us or Users.

        <h1>Limitations on Automated Use</h1>
        You shouldn't use bots or access our Services in malicious or prohibited
        ways. While accessing or using the Services, you may not:
        <ol>
          <li>use bots, hacks, or cheats while using our site;</li>
          <li>create manual requests to CharaTyping servers;</li>
          <li>
            tamper with or use non-public areas of the Services, or the computer
            or delivery systems of CharaTyping and/or its service providers;
          </li>
          <li>
            probe, scan, or test any system or network (particularly for
            vulnerabilities), or otherwise attempt to breach or circumvent any
            security or authentication measures, or search or attempt to access
            or search the Services by any means (automated or otherwise) other
            than through our currently available, published interfaces that are
            provided by CharaTyping (and only pursuant to those terms and
            conditions), unless you have been specifically allowed to do so in a
            separate agreement with CharaTyping, Inc., or unless specifically
            permitted by CharaTyping, Inc.'s robots.txt file or other robot
            exclusion mechanisms;
          </li>
          <li>
            scrape the Services, scrape Content from the Services, or use
            automated means, including spiders, robots, crawlers, data mining
            tools, or the like to download data from the Services or otherwise
            access the Services;
          </li>
          <li>
            employ misleading email or IP addresses or forged headers or
            otherwise manipulated identifiers in order to disguise the origin of
            any content transmitted to or through the Services;
          </li>
          <li>
            use the Services to send altered, deceptive, or false
            source-identifying information, including, without limitation, by
            forging TCP-IP packet headers or e-mail headers; or
          </li>
          <li>
            interfere with, or disrupt or attempt to interfere with or disrupt,
            the access of any User, host, or network, including, without
            limitation, by sending a virus to, spamming, or overloading the
            Services, or by scripted use of the Services in such a manner as to
            interfere with or create an undue burden on the Services.
          </li>
        </ol>
        <h1>Links</h1>
        CharaTyping is not responsible for the contents of any linked sites. The
        use of any linked website is at the user's own risk.

        <h1>Changes</h1>
        CharaTyping may revise these Terms of Service for its Website at any
        time without prior notice. By using this Website, you are agreeing to be
        bound by the current version of these Terms of Service.
        <h1>Disclaimer</h1>
        <p>
          EXCLUDING THE EXPLICITLY STATED WARRANTIES WITHIN THESE TERMS, WE ONLY
          OFFER OUR SERVICES ON AN 'AS-IS' BASIS. YOUR ACCESS TO AND USE OF THE
          SERVICES OR ANY CONTENT IS AT YOUR OWN RISK. YOU UNDERSTAND AND AGREE
          THAT THE SERVICES AND CONTENT ARE PROVIDED TO YOU ON AN 'AS IS,' 'WITH
          ALL FAULTS,' AND 'AS AVAILABLE' BASIS. WITHOUT LIMITING THE FOREGOING,
          TO THE FULL EXTENT PERMITTED BY LAW, CHARATYPING DISCLAIMS ALL
          WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION
          WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
          NON-INFRINGEMENT. TO THE EXTENT SUCH DISCLAIMER CONFLICTS WITH
          APPLICABLE LAW, THE SCOPE AND DURATION OF ANY APPLICABLE WARRANTY WILL
          BE THE MINIMUM PERMITTED UNDER SUCH LAW. CHARATYPING MAKES NO
          REPRESENTATIONS, WARRANTIES, OR GUARANTEES AS TO THE RELIABILITY,
          TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY, OR
          COMPLETENESS OF ANY KIND WITH RESPECT TO THE SERVICES, INCLUDING ANY
          REPRESENTATION OR WARRANTY THAT THE USE OF THE SERVICES WILL (A) BE
          TIMELY, UNINTERRUPTED, OR ERROR-FREE, OR OPERATE IN COMBINATION WITH
          ANY OTHER HARDWARE, SOFTWARE, SYSTEM, OR DATA, (B) MEET YOUR
          REQUIREMENTS OR EXPECTATIONS, (C) BE FREE FROM ERRORS OR THAT DEFECTS
          WILL BE CORRECTED, OR (D) BE FREE OF VIRUSES OR OTHER HARMFUL
          COMPONENTS. CHARATYPING ALSO MAKES NO REPRESENTATIONS OR WARRANTIES OF
          ANY KIND WITH RESPECT TO CONTENT; USER CONTENT IS PROVIDED BY AND IS
          SOLELY THE RESPONSIBILITY OF THE RESPECTIVE USER PROVIDING THAT
          CONTENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED
          FROM CHARATYPING OR THROUGH THE SERVICES, WILL CREATE ANY WARRANTY NOT
          EXPRESSLY MADE HEREIN. CHARATYPING DOES NOT WARRANT, ENDORSE,
          GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY USER CONTENT ON THE
          SERVICES OR ANY HYPERLINKED WEBSITE OR THIRD-PARTY SERVICE, AND
          CHARATYPING WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR
          TRANSACTIONS BETWEEN YOU AND THIRD PARTIES. IF APPLICABLE LAW DOES NOT
          ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED OR STATUTORY
          WARRANTIES TO APPLY TO YOU, THE ABOVE EXCLUSIONS WILL APPLY TO YOU TO
          THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
        </p>
        <h1>Contact</h1>
        <p>
          If you have any questions about CharaTyping’s privacy policy, the data
          we hold on you, or you would like to exercise one of your data
          protection rights, please do not hesitate to contact us.
        </p>
        <p>
          Email:
          <a
            href="mailto:huy.dinh.le.89@gmail.com"
            target="_blank"
            rel="noopener noreferrer"
          >
            huy.dinh.le.89@gmail.com
          </a>
        </p>
        Discord:
        <span
          aria-label="Click To Copy"
          data-balloon-pos="up"
          onclick="copyUserName()"
        >
          huyhuyhuy#0519
        </span>
      </div>
      <p>
        Terms based on
        <a href="https://glitch.com/legal" target="_blank">Glitch terms</a>
      </p>
    </div>
  </body>
  <script defer>
    function copyUserName() {
      if (true) {
        navigator.clipboard.writeText("Miodec#1512");
        alert("Copied To Clipboard!");
      } else {
        alert("Unable to copy username");
      }
    }

    document.querySelector("#top").addEventListener("click", () => {
      window.location = "/";
    });
  </script>
</html>
