:root {
  --sub-color: #e1e1e1;
  --highlight-color: #0085a8;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--sub-color);
}

#header {
  background-color: #000;
  color: #fff;
}

.header-container {
  padding: 0.5rem;
  padding-left: 0;
  max-width: 60rem;
  margin: 0 auto;
  display: flex;
}

#logo {
  align-items: center;
  background-color: transparent;
  display: grid;
  width: 3rem;
  margin-right: 1rem;
}

#header h1 {
  font-size: 1.5rem;
}

#logo path {
  fill: #fff;
}

#root {
  padding: 2rem;
  background-color: #fff;
  max-width: 60rem;
  margin: 2rem auto;
}

.button {
  background-color: var(--highlight-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 1rem;
}

.array-input {
  margin: 1rem auto;
}

.array-input-delete {
  margin-left: 1rem;
  background-color: #d84b4b;
}

#save {
  position: fixed;
  right: 6rem;
  bottom: 3rem;
  background-color: var(--highlight-color);
  color: #fff;
  font-style: bold;
  border-radius: 3px;
  padding: 1rem 2rem;
  cursor: pointer;
  display: inline-block;
  width: 125px;
  text-align: center;
}

#save.good {
  background-color: #42c328;
}

#save.bad {
  background-color: #d84b4b;
}

label {
  display: block;
}

.base-input {
  margin: 0.5rem;
  border: 1px solid #767676;
  border-radius: 3px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  padding: 0.25rem;
}

input[type="checkbox"] {
  display: inline-block;
  accent-color: var(--highlight-color);
  width: 1.5rem;
  height: 1.5rem;
}

.form-element {
  padding-left: 3rem;
  padding-top: 0.75rem;
  border-left: var(--sub-color) 1px solid;
  border-bottom: var(--sub-color) 0.5px dotted;
  background: #fff;
}

.array-form-element-decorator {
  display: flex;
  align-items: flex-start;
}

#root > .form-element:first-child {
  border-left: none;
  margin: 0;
  padding: 0;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.input-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unknown-input {
  color: #d84b4b;
}

.loader {
  margin: auto;
  width: 48px;
  height: 48px;
  border: 5px solid var(--highlight-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
