@keyframes woah {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#words {
  --correct-letter-animation: woah 2s infinite linear;
  --untyped-letter-animation: woah 2s infinite linear;
}
