:root {
  --bg-color-shine: color-mix(in oklab, var(--main-color) 5%, var(--bg-color));
}

@keyframes lines {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 30px;
  }
}

@keyframes scanline {
  0% {
    bottom: 100%;
  }
  80% {
    bottom: 100%;
  }
  100% {
    bottom: 0%;
  }
}

body::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  background-image: repeating-linear-gradient(
    0deg,
    #111 0px,
    #111 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 50% 5px;
  opacity: 0.3;
  mix-blend-mode: color-burn;
  pointer-events: none;
  animation: lines 5s ease-out infinite;
}
body {
  text-shadow: 3px 0 1px rgba(0, 30, 255, 0.5), -3px 0 1px rgba(255, 0, 80, 0.3),
    0 0 3px;
}

#centerContent {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse,
    var(--bg-color-shine) 0%,
    var(--bg-color) 90%
  );
}

#scanline {
  width: 100%;
  height: 100px;
  z-index: 1001;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  animation: scanline 10s linear infinite;
}
