#words .word.active:nth-of-type(n + 2),
#words .word.active:nth-of-type(n + 2) + .word,
#words .word.active:nth-of-type(n + 2) + .word + .word {
  --untyped-letter-color: transparent;
  --untyped-letter-animation: none;
}
