main .page {
    animation: slideSide 3s infinite alternate ease-in-out
}

@keyframes slideSide {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(300px);
    }
}