:root {
  --bg-color: #0084c2;
  --main-color: #f7f2ea;
  --caret-color: #f7f2ea;
  --sub-color: #01589f;
  --sub-alt-color: #0c79be;
  --text-color: #171718;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
