:root {
  --bg-color: #221b44;
  --main-color: #009eaf;
  --caret-color: #009eaf;
  --sub-color: #b82356;
  --sub-alt-color: #1e173b;
  --text-color: #dbe7e8;
  --error-color: #a8d400;
  --error-extra-color: #668000;
  --colorful-error-color: #a8d400;
  --colorful-error-extra-color: #668000;
}
