:root {
  --bg-color: #e9e5cc;
  --caret-color: #92946f;
  --main-color: #92946f;
  --sub-color: #b7b39e;
  --sub-alt-color: #d4cfbc;
  --text-color: #373731;
  --error-color: #cf2f2f;
  --error-extra-color: #a22929;
  --colorful-error-color: #cf2f2f;
  --colorful-error-extra-color: #a22929;
}
