:root {
  --bg-color: #1c1b1d;
  --main-color: #deaf9d;
  --caret-color: #deaf9d;
  --sub-color: #4e3e3e;
  --sub-alt-color: #262223;
  --text-color: #f2efed;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #e03d4e;
  --colorful-error-extra-color: #aa2f3b;
}
