:root {
  --bg-color: #1a0b0c;
  --main-color: #ff3a32;
  --caret-color: #ff3a32;
  --sub-color: #e2a528;
  --sub-alt-color: #0e0506;
  --text-color: #4a4d4e;
  --error-color: #771b1f;
  --error-extra-color: #591317;
  --colorful-error-color: #771b1f;
  --colorful-error-extra-color: #591317;
}
