:root {
  --bg-color: #2c2e34;
  --main-color: #9ed072;
  --caret-color: #f38c71;
  --sub-color: #e7c664;
  --sub-alt-color: #232429;
  --text-color: #e2e2e3;
  --error-color: #fc5d7c;
  --error-extra-color: #ecac6a;
  --colorful-error-color: #fc5d7c;
  --colorful-error-extra-color: #ecac6a;
}
