:root {
  --bg-color: #0058a3;
  --main-color: #ffcc02;
  --caret-color: #b5b5b5;
  --sub-color: #57abdb;
  --sub-alt-color: #024f8e;
  --text-color: #ffffff;
  --error-color: #e74040;
  --error-extra-color: #a22f2f;
  --colorful-error-color: #f56674;
  --colorful-error-extra-color: #e33546;
}
