:root {
  --bg-color: #0b1e1a;
  --caret-color: #66ac92;
  --main-color: #66ac92;
  --sub-color: #015c53;
  --sub-alt-color: #041715;
  --text-color: #dceae5;
  --error-color: #bf616a;
  --error-extra-color: #793e44;
  --colorful-error-color: #bf616a;
  --colorful-error-extra-color: #793e44;
}
