@use "../../../../styles/media.scss" as *;

footer {
  #commandLineMobileButton {
    display: none;
    // top: -4rem;
    bottom: 2rem;
    left: 2rem;
    position: fixed;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    background: var(--main-color);
    border-radius: 99rem;
    z-index: 99;
    cursor: pointer;
    color: var(--bg-color);
    transition: 0.25s;
  }

  .currentVersion {
    display: flex;
    #newVersionIndicator {
      margin: 0;
      padding: 0 0.25em;
      font-size: unset;
      background-color: var(--main-color);
      border-radius: calc(var(--roundness) / 2);
      color: var(--bg-color);
      text-align: center;
      cursor: pointer;
      transition: 0.125s;
    }
  }

  &.focus {
    .keyTips {
      opacity: 0;
    }
    button,
    a {
      opacity: 0;
    }
    #newVersionIndicator {
      opacity: 0;
    }
    #commandLineMobileButton {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include media-query(purple) {
    & {
      .leftright {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
          width: unset;
          grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        }
      }
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  #commandLineMobileButton {
    display: block !important;
  }
}
