@use "../../../../styles/media.scss" as *;

footer {
  #commandLineMobileButton {
    // display: none;
    // bottom: 2rem;
    // left: 2rem;
    // position: fixed;
    // font-size: 1rem;
    // width: 3rem;
    // height: 3rem;
    // text-align: center;
    // line-height: 3rem;
    // background: var(--main-color);
    // border-radius: 99rem;
    // z-index: 99;
    // cursor: pointer;
    // color: var(--bg-color);
    // transition: 0.25s;
  }

  &.focus {
    .keyTips {
      opacity: 0;
    }
    button,
    a {
      opacity: 0;
    }
    #newVersionIndicator {
      opacity: 0;
    }
    #commandLineMobileButton {
      opacity: 0;
      pointer-events: none;
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  #commandLineMobileButton {
    display: block !important;
  }
}
