.ScrollToTop {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 99999999;
  top: 0;
  left: 0;

  .button {
    pointer-events: all;
    place-self: end end;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;

    line-height: 4rem;
    background: var(--sub-alt-color);
    border-radius: 99rem;
    outline: 0.5rem solid var(--bg-color);

    .fas {
      line-height: 1;
    }

    cursor: pointer;
    color: var(--sub-color);
    transition: 0.25s;
    &:hover {
      background: var(--text-color);
      color: var(--bg-color);
    }
  }
}
