.current-theme {
  .icon {
    position: relative;
    .favIndicator {
      font-size: 0.5em;
      top: -0.5em;
      right: -0.5em;
      padding: 0.25em;
      position: absolute;
      background: var(--bg-color);
      border-radius: 100%;
    }
  }
}
