:root {
  --bg-color: #335C71;
  --main-color: #FC7374;
  --caret-color: #FC7374;
  --sub-color: #131615;
  --text-color: #FFFAF8;
  --error-color: #FC7374;
  --error-extra-color: #e3002b;
  --colorful-error-color: #FC7374;
  --colorful-error-extra-color: #e3002b;
}

#menu .icon-button:nth-child(1),
#menu .icon-button:nth-child(2),
#menu .icon-button:nth-child(3),
#menu .icon-button:nth-child(4),
#menu .icon-button:nth-child(5),
#menu .icon-button:nth-child(6) {
  color: #FC7374;
}

