:root {
  --bg-color: #2d394d;
  --main-color: #ff7a90;
  --caret-color: #ff7a90;
  --sub-color: #FFFAF8;
  --text-color: #FFFAF8;
  --error-color: #ee2a3a;
  --error-extra-color: #f04040;
  --colorful-error-color: #fc2032;
  --colorful-error-extra-color: #f04040;
}

#menu .icon-button:nth-child(1),
#menu .icon-button:nth-child(2),
#menu .icon-button:nth-child(3),
#menu .icon-button:nth-child(4),
#menu .icon-button:nth-child(5),
#menu .icon-button:nth-child(6) {
  color: #4a768d;
}
