:root {
  --bg-color: linear-gradient(215deg, #cbb8ba, #706768);
  --main-color: #524149;
  --caret-color: #ede8ec;
  --sub-color: #8a6071;
  --error-color: #ede8ec;
  --extra-error-color: #dabed2; 
}

.word letter.incorrect{
  color: var(--error-color);
}

.word letter.incorrect.extra{
  color: var(--extra-error-color);
}

.word.error{
  border-bottom: double 2px var(--error-color);
}

key,
.notification,
.entry{
 color: var(--caret-color) !important;
}

#menu .button:nth-child(1){
  color: var(--caret-color);
}
