:root {
    --bg-color: #313131;
    --main-color: #f66e0d;
    --caret-color: #f66e0d;
    --sub-color: #616161;
    --text-color: #f5e6c8;
    --error-color: #e72d2d;
    --colorful-error-color: #b62828;
    --colorful-error-color: #a5e72d;
    --colorful-error-extra-color: #74a120;
}