:root {
    --bg-color: #111;
    --main-color: #eee;
    --caret-color: #eee;
    --sub-color: #444;
    --text-color: #eee;
    --error-color: #da3333;
    --error-extra-color: #791717;
    --extra-error-color: #da3333;
    --extra-error-extra-color: #791717;
}