:root {
  --bg-color: #282a36;
  --main-color: #f8f8f2;
  --caret-color: #f8f8f2;
  --sub-color: #6272a4;
  --active-word-color: #f1fa8c;
}

#menu .button:nth-child(1){
  color: #8be9fd;
}

#menu .button:nth-child(2){
  color: #50fa7b;
}

#menu .button:nth-child(3){
  color: #ff79c6;
}

#menu .button:nth-child(4){
  color: #ffb86c;
}