:root {
    --bg-color: #fbf1c7;
    --main-color: #d79921;
    --caret-color: #458588;
    --sub-color: #98971a;
    --text-color: #3c3836;
    --error-color: #cc241d;
    --error-extra-color: #9d0006;
    --colorful-error-color: #cc241d;
    --colorful-error-extra-color: #9d0006;
}