:root {
    --bg-color: #282828;
    --main-color: #d79921;
    --caret-color: #458588;
    --sub-color: #b8bb26;
    --text-color: #ebdbb2;
    --error-color: #fb4934 ;
    --error-extra-color: #cc241d;
}