:root {
    --bg-color: #fff;
    --main-color: #111;
    --caret-color: #111;
    --sub-color: #ccc;
    --text-color: #111;
    --error-color: #da3333;
    --error-extra-color: #791717;
    --extra-error-color: #da3333;
    --extra-error-extra-color: #791717;
}