:root {
    --bg-color: #f35588;
    --main-color: #05dfd7;
    --caret-color: #a3f7bf;
    --text-color: #05dfd7;
    --sub-color: #fff591;
    --error-color: #9d72ff;
    --error-extra-color: #7353bd;
}
