:root {
    --bg-color: #18181a;
    --main-color: #e4609b;
    --caret-color: #e4609b;
    --sub-color: #fff;
    --text-color: #e4609b;
    --error-color: #fff591;
    --error-extra-color: #b6af68;
}
