:root {
    --bg-color: #18181a;
    --main-color: #e4609b;
    --caret-color: #e4609b;
    --sub-color: #47bac0;
    --text-color: #e4609b;
    --error-color: #cb3030;
    --error-extra-color: #962929;
}
