:root {
    --bg-color: #05385b;
    --main-color: #5cdb95;
    --caret-color: #5cdb95;
    --sub-color: #20688a;
    --text-color: #edf5e1;
    --error-color:  #F35588;
    --error-extra-color:  rgb(163, 56, 90);
}
