:root {
    --bg-color: #05385b;
    --main-color: #5cdb95;
    --caret-color: #5cdb95;
    --sub-color: #edf5e1;
    --error-color:  #F35588;;
}

.word letter.incorrect, 
.word.error, 
.word letter.incorrect.extra {
    color: var(--error-color);
}

.word.error {
    border-bottom: solid 2px var(--error-color);
}
