:root {
  --bg-color: #2d2e30;
  --main-color: #65d2cd;
  --caret-color: #65d2cd;
  --sub-color: #54585c;
  --text-color: #e3e6eb;
  --error-color: #d36a7b;
  --error-extra-color: #994154;
  --colorful-error-color: #d36a7b;
  --colorful-error-extra-color: #994154;
}
