:root {
    --bg-color: #272822;
    --main-color: #A6E22E;
    --caret-color: #66D9EF;
    --sub-color: #E6DB74;
    --text-color: #e2e2dc;
    --error-color: #F92672;
    --error-extra-color: #FD971F;
    --colorful-error-color: #F92672;
    --colorful-error-extra-color: #FD971F;
}