:root {
    --bg-color: #6c7072;
    --main-color: #daa99b;
    --caret-color: #8fadc9;
    --sub-color: #878c91;
    --text-color: #1d1d1d;
    --error-color: #bf6464;
    --error-extra-color: #793e44;
}

#top .logo .bottom{
    color: #8fadc9;
}

#top .config .group .buttons .button.active{
    color: #daa99b;
} 


/* #menu .button:nth-child(1){
    color: #daa99b;
}

#menu .button:nth-child(2){
    color: #daa99b;
}

#menu .button:nth-child(3){
    color: #8fadc9;
}

#menu .button:nth-child(4),
#menu .button:nth-child(5){
    color: #8fadc9;
} */