:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

@keyframes woah {
  0% {
    transform: rotateY(-15deg) skewY(10deg) rotateX(-15deg) scaleX(1.2)
      scaleY(0.9);
  }

  25% {
    transform: rotateY(15deg) skewY(-10deg) rotateX(15deg) scaleX(1) scaleY(0.8);
  }

  50% {
    transform: rotateY(-15deg) skewY(10deg) rotateX(-15deg) scaleX(0.9)
      scaleY(0.9);
  }

  75% {
    transform: rotateY(15deg) skewY(-10deg) rotateX(15deg) scaleX(1.5)
      scaleY(1.1);
  }

  100% {
    transform: rotateY(-15deg) skewY(10deg) rotateX(-15deg) scaleX(1.2)
      scaleY(0.9);
  }
}

@keyframes plsstop {
  0% {
    background: #323437;
  }

  50% {
    background: #3e4146;
  }

  100% {
    background: #323437;
  }
}

#middle {
  animation: woah 7s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

#centerContent {
  transform: rotate(5deg);
  perspective: 500px;
}

body {
  animation: plsstop 10s infinite cubic-bezier(0.5, 0, 0.5, 1);
  overflow: hidden;
}
