:root {
    --bg-color: #313231;
    --main-color: #a5a096;
    --caret-color: #a5a096;
    --sub-color: #5d6263;
}

#menu .button:nth-child(1){
    color: #9a90b4;
}

#menu .button:nth-child(2){
    color: #8db14b;
}

#menu .button:nth-child(3){
    color: #fca321;
}

#menu .button:nth-child(4){
    color: #2984a5;
}

#menu .button:nth-child(5),
#menu .button:nth-child(6){
    color: #dd452e;
}