:root {
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #aaaeb3;
    --bg-color: #e1e1e3;
    --text-color:#323437;
    --error-color: #da3333;
    --error-extra-color: #791717;
}