:root {
    --bg-color: #323437;
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #d1d0c5;
    --text-color: #e2b714;
    --error-color: #da3333;
    --error-extra-color: #791717;
}