:root {
    --bg-color: #323437;
    --main-color: #e2b714;
    --caret-color: #e2b714;
    --sub-color: #646669;
    --text-color: #d1d0c5;
    --error-color: #bf616a;
	--error-extra-color: #793e44;
}