:root {
    --bg-color: #000;
    --main-color: #eee;
    --caret-color: #eee;
    --sub-color: #444;
}

@keyframes shadow {
    0%{
        color: #eee;
    }
    20% {
        color: #aaa;
    }
    40% {
        color: #888;
    }
    60% {
        color: #444;
    }
    80% {
        color: #222;
    }
    100% {
        color: #000;
    }
}

@keyframes shadow-repeat {
    0%{
        color: #eee;
    }
    20% {
        color: #aaa;
    }
    30% {
        color: #444;
    }
    50% {
        color: #000;
    }
    70% {
        color: #444;
    }
    80% {
        color: #aaa;
    }
    100% {
        color: #eee;
    }
}

.word.error {
    border-bottom: 2px solid #fff;
}

.word letter.incorrect {
    color: #fff;
}

.word letter.incorrect.extra {
    color: #fff;
}

#top .config .group .buttons .button.active,
#result .stats .group,
#menu .button:hover,
#top .config .group .buttons .button:hover,
a:hover {
    animation-name: shadow-repeat;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

#logo, .word letter.correct{
    animation-name: shadow;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
