:root {
  --bg-color: #1b1d36;
  --main-color: #fca6d1;
  --caret-color: #99d6ea;
  --sub-color: #99d6ea;
  --text-color: #fca6d1;
  --error-color: #fffb85;
  --error-extra-color: #fffb85;
  --colorful-error-color: #fffb85;
  --colorful-error-extra-color: #fffb85;
}
