:root {
    --bg-color: #1B1D36;
    --main-color:#FCA6D1;
    --caret-color: #99D6EA;
    --sub-color: #99D6EA;
    --text-color: #FCA6D1;
    --error-color: #FFFB85;
    --error-extra-color: #FFFB85;
    --colorful-error-color: #FFFB85;
    --colorful-error-extra-color: #FFFB85;
  }
  