:root {
  --bg-color: #212b42;
  --main-color: #add7ff;
  --caret-color: #962f7e;
  --sub-color: #5c7da5;
  --text-color: #91b4d5;
  --error-color: #df4576;
  --error-extra-color: #d996ac;
  --colorful-error-color: #df4576;
  --colorful-error-extra-color: #d996ac;
}

#top .logo .bottom {
  color: #962f7e;
}
