:root {
  --bg-color: #141221;
  --main-color: #fd77d7;
  --caret-color: #dde5ed;
  --text-color: #dde5ed;
  --error-color: #fd77d7;
  --sub-color: #676e8a;
  --error-color: #ff5869;
  --error-extra-color: #b03c47;
  --colorful-error-color: #ff5869;
  --colorful-error-extra-color: #b03c47;
}

#top .logo .text {
  -webkit-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  transition: 0.5s;
}

#top .logo .top {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#top .logo .icon {
  -webkit-transform: rotateX(180deg);
  transition: 0.5s;
}

#words .incorrect.extra {
  -webkit-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
}

#bottom .leftright .right .current-theme .text {
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}

#caret {
  background-image: url(https://i.imgur.com/yN31JmJ.png);
  background-color: transparent;
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
}

#caret.default {
  width: 4px;
}

.config .toggleButton {
  -webkit-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
  align-content: right;
}

.config .mode .text-button {
  -webkit-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
  align-content: right;
}

.config .wordCount .text-button,
.config .time .text-button,
.config .quoteLength .text-button,
.config .customText .text-button {
  -webkit-transform: rotateY(180deg);
  unicode-bidi: bidi-override;
  direction: rtl;
  align-content: right;
}

#top.focus #menu .icon-button,
#top.focus #menu:before,
#top.focus #menu:after {
  background: var(--sub-color);
  -webkit-transform: rotateY(180deg) !important;
}

#top.focus .logo .text,
#top.focus .logo:before,
#top.focus .logo:after {
  -webkit-transform: rotateY(0deg);
  direction: ltr;
}

#top.focus .logo .icon,
#top.focus .logo:before,
#top.focus .logo:after {
  -webkit-transform: rotateX(0deg);
  direction: ltr;
}

#bottom .leftright .right .current-theme:hover .fas.fa-fw.fa-palette {
  -webkit-transform: rotateY(180deg);
  transition: 0.5s;
}
#menu {
  gap: 0.5rem;
}

#menu .icon-button {
  border-radius: 10rem i !important;
  color: var(--bg-color);
  transition: 0.5s;
}

#menu .icon-button:nth-child(1) {
  background: #ab92e1;
}

#menu .icon-button:nth-child(2) {
  background: #f3ea5d;
}

#menu .icon-button:nth-child(3) {
  background: #7ae1bf;
}

#menu .icon-button:nth-child(4) {
  background: #ff5869;
}

#menu .icon-button:nth-child(5) {
  background: #fc76d9;
}

#menu .icon-button:nth-child(6) {
  background: #fc76d9;
}
