:root {
  --bg-color: #be1918;
  --main-color: #ffffff;
  --caret-color: #ffffff;
  --sub-color: #faf333;
  --text-color: #1c1c19;
  --error-color: #ffffff;
  --error-extra-color: #faf333;
  --colorful-error-color: #faf333;
  --colorful-error-extra-color: #faf333;
}
