:root {
  --bg-color: #ff9869;
  --main-color: #fcfcf8;
  --caret-color: #fcfcf8;
  --sub-color: #ff661f;
  --text-color: #fcfcf8;
  --error-color: #abcdef;
  --error-extra-color: #abcdef;
  --colorful-error-color: #abcdef;
  --colorful-error-extra-color: #abcdef;
}
