:root {
  --bg-color: #3b363f;
  --main-color: #fc6e83;
  --caret-color: #474747;
  --sub-color: #ead8d6;
  --text-color: #fc6e83;
  --error-color: #f52443;
  --error-extra-color: #bd001c;
  --colorful-error-color: #ff0a2f;
  --colorful-error-extra-color: #000000;
}
