:root {
    --bg-color: #fffdd0;
    --main-color: #e02828;
    --caret-color: #99de1e;
    --sub-color: #69176b;
    --text-color: #808080;
    --error-color: #4d0463;
    --error-extra-color: #a62626;
    --colorful-error-color: #4d0463;
    --colorful-error-extra-color: #a62626;
}

#menu .icon-button:nth-child(1) {
  color: #99de1e;
}

#menu .icon-button:nth-child(2) {
  color: #4d0463;
}

#menu .icon-button:nth-child(3) {
  color: #08d9a3;
}

#menu .icon-button:nth-child(4) {
  color: #69176b;
}

#menu .icon-button:nth-child(5),
#menu .icon-button:nth-child(6) {
  color: #808080;
}
