:root {
  --bg-color: #1d1e20;
  --main-color: #76868f;
  --caret-color: #76868f;
  --sub-color: #646669;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
