:root {
  --bg-color: #d8d2c3;
  --main-color: #513a2a;
  --caret-color: #513a2a;
  --sub-color: #513a2a;
  --text-color: #393b3b;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
