:root {
  --bg-color: #0c0e12;
  --main-color: #708bc2;
  --caret-color: #708bc2;
  --sub-color: #29303d;
  --text-color: #d9e5ff;
  --error-color: #c27070;
  --error-extra-color: #c28b70;
  --colorful-error-color: #c27070;
  --colorful-error-extra-color: #c28b70;
}
