:root {
  --bg-color: #2F3338;
  --main-color: #D6D2BC;
  --caret-color: #D6D2BC;
  --sub-color: #8F8E84;
  --text-color: #D6D2BC;
  --error-color: #FF4A59;
  --error-extra-color: #C43C53;
  --colorful-error-color: #FF4A59;
  --colorful-error-extra-color: #C43C53;
}
