:root {
  --bg-color: #EFEAD0;
  --main-color: #5F605E;
  --caret-color: #5F605E;
  --sub-color: #8F8E84;
  --text-color: #333538;
  --error-color: #C43C53;
  --error-extra-color: #A52632;
  --colorful-error-color: #C43C53;
  --colorful-error-extra-color: #A52632;
}
