:root {
  --bg-color: #111;
  --main-color: #eee;
  --caret-color: #eee;
  --sub-color: #444;
  --text-color: #eee;
  --error-color: #eee;
  --error-extra-color: #b3b3b3;
  --colorful-error-color: #eee;
  --colorful-error-extra-color: #b3b3b3;
}

@keyframes rgb {
  0% {
    color: #f44336;
  }
  25% {
    color: #ffc107;
  }
  50% {
    color: #4caf50;
  }
  75% {
    color: #3f51b5;
  }
  100% {
    color: #f44336;
  }
}

@keyframes rgb-bg {
  0% {
    background: #f44336;
  }
  25% {
    background: #ffc107;
  }
  50% {
    background: #4caf50;
  }
  75% {
    background: #3f51b5;
  }
  100% {
    background: #f44336;
  }
}

.button.discord::after,
#caret,
.pageSettings .section .buttons .button.active,
.pageSettings .section.languages .buttons .language.active,
.pageAccount .group.filterButtons .buttons .button.active {
  animation-name: rgb-bg !important;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#top.focus .button.discord::after,
#top .button.discord.dotHidden::after {
  animation-name: none !important;
}

.logo .bottom,
#top .config .group .buttons .text-button.active,
#result .stats .group .bottom,
#menu .icon-button:hover,
#top .config .group .buttons .text-button:hover,
a:hover,
#words.flipped .word {
  animation-name: rgb;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* .word letter.correct{
    animation-name: rgb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}  */

#words.flipped .word letter.correct {
  color: var(--sub-color);
}

#words:not(.flipped) .word letter.correct {
  animation-name: rgb;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
