:root {
  --bg-color: #241963;
  --main-color: #f2ce83;
  --caret-color: #fbdb8c;
  --sub-color: #446ad5;
  --text-color: #ffffff;
  --error-color: #c6915e;
  --error-extra-color: #c6915e;
  --colorful-error-color: #c6915e;
  --colorful-error-extra-color: #c6915e;
}

#menu .icon-button {
  color: #f2ce83;
}

#menu .icon-button:hover {
  color: #c6915e;
}
