:root {
    --bg-color: #131a1c;
    --main-color: #c5c8c9;
    --caret-color: #c26f6f;
    --sub-color: #6CBAD1;
    --text-color: #c5c8c9;
    --error-color: #f65b5b;
    --error-extra-color: #bb8fe5;
    --colorful-error-color: #f65b5b;
    --colorful-error-extra-color: #bb8fe5;
  }
  