:root {
  --bg-color: #1e1e1e;
  --main-color: #007acc;
  --caret-color: #569cd6;
  --sub-color: #a6a6a6;
  --text-color: #007acc;
  --error-color: #f44747;
  --error-extra-color: #f44747;
  --colorful-error-color: #f44747;
  --colorful-error-extra-color: #f44747;
}
