	:root {
  	  --bg-color: #141414;
    	--main-color: #f37128;
    	--caret-color: #a18463;
   	 --sub-color: #ffa061;
    	--sub-alt-color: #ffffff;
  	  --text-color: #ffffff;
   	 --error-color: #ffffff;
    	--error-extra-color: #ffffff;
 	   --colorful-error-color: #ffffff;
   	 --colorful-error-extra-color: #ffffff;
 	 }